<mat-card class="legend-card">
  <mat-card-header>
    <div mat-card-avatar class="legend-title">
      <h2 class="mat-subheading-1">Legend</h2>
    </div>
    <div class="view-all">
      <button mat-button color="primary" (click)="openViewAllDialog();">
        <mat-icon fontIcon="open_in_new" class="view-icon"></mat-icon>
        View All
      </button>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="current-schedule-lengend">
    @for (schedule of uniqueProjectDetails; track schedule) {
      <div class="legend-item">
        <span class="color-box" [ngStyle]="{'background-color': schedule.projectColor}"></span>
        <p>{{ schedule.projectName }}</p>
      </div>
    }
    @if (uniqueProjectDetails.length == 0) {
      <p class="no-legend-msg">There are no Projects to display</p>
    }
  </mat-card-content>
</mat-card>

<ng-template #dialogTemplate let-data="data">
  <mat-card class="legend-card">
    <mat-card-header>
      <div mat-card-avatar class="legend-title legend-title-adjust">
        <h2 class="mat-subheading-1">{{ data.title }}</h2>
      </div>
      <div class="view-all">
        <button class="no-bg-button" mat-dialog-close>
          <mat-icon fontIcon="close"></mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="grid-container">
        @for (schedule of data.content; track schedule) {
          <div class="legend-item">
            <span class="color-box" [ngStyle]="{'background-color': schedule.projectColor}"></span>
            <p>{{ schedule.projectName }}</p>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>