@if (authenticatedUser?.netID && !authenticatedUser?.admin) {
<div
  class="inner-container"
>
  <h2>No Access</h2>
  <p>Your user account does not have access to view this page.</p>
  <p>
    Please contact someone in the resource team if you believe this was a
    mistake.
  </p>
</div>
}

@if (isLoading) {
<div class="spinner-container">
  <mat-spinner color="primary" [diameter]="30"></mat-spinner>
</div>
}
@if (authenticatedUser?.netID && authenticatedUser?.admin && !isLoading) {
<div>
  <div class="flex items-center justify-between mb-4">
    <div class="flex items-center">
      <div class="min-w-[225px] pr-4 py-1">
        <!-- <app-select
        id="projects-filter"
        [fieldLabel]="'Projects'"
        [anyLabel]="'Project'"
        [multiSelect]="true"
        [dropDownValues]="activeProjectsDv"
        [(selectedValues)]="selectedProjects"
        [(anyValueSelected)]="projectsAnySelected"
        (selectedValuesChange)="projectFilterChange($event)"
      >
      </app-select> -->
        <app-select
          id="status-filter"
          [fieldLabel]="'User Role (for Core Hr. Totals)'"
          [dropDownValues]="dropDownValues"
          [selectedValues]="selectedValues"
          (selectedValuesChange)="userRoleChange($event)"
        >
        </app-select>
      </div>
    </div>
    <div class="flex space-x-2">
      <button
        (click)="saveCoreHours()"
        [disabled]="spin"
        class="bg-blue-400 hover:bg-blue-500 text-white font-semibold px-6 py-2 rounded shadow border-2 border-blue-400 flex items-center justify-center"
      >
        @if (spin) {
        <i class="fa fa-spinner fa-spin"></i>
        }
        <span class="ml-2">{{ spin ? "Saving..." : "Save" }}</span>
      </button>

      <button
        (click)="export()"
        [disabled]="exportIsDisabled"
        class="bg-white border border-blue-400 text-blue-500 font-semibold px-6 py-2 rounded shadow border-2 border-blue-400"
      >
        @if (exportIsDisabled) {
        <i class="fa fa-spinner fa-spin"></i>
        }
        <span class="ml-2">{{
          exportIsDisabled ? "Export..." : "Export"
        }}</span>
      </button>
    </div>
  </div>
  <div class="border border-blue-600 max-h-[600px] overflow-y-auto">
    <table
      class="min-w-full border-separate border-spacing-0 table-fixed text-black text-s"
    >
      <!-- One colgroup shared by all rows -->
      <colgroup>
        <col class="w-48" />
        @for (month of monthsHeader; track $index) {
        <col />
        }
      </colgroup>

      <!-- Sticky Header -->
      <thead class="bg-[#E7F3FA] sticky top-0 z-10">
        <tr>
          <th
            class="text-left px-2 py-1 border-r border-b border-blue-600 font-semibold whitespace-nowrap"
          >
            Project (hrs. per week)
          </th>
          @for (month of monthsHeader; track $index) {
          <th
            class="text-center px-2 py-1 border-r border-b border-blue-600 font-semibold"
          >
            {{ month }}
          </th>
          }
        </tr>
      </thead>

      <!-- Scrollable Body -->
      <tbody>
        @for (res of list; track res) {
        <tr class="bg-white">
          <td class="px-2 py-1 border">
            <span class="inline-flex items-center">
              <app-project-swatch
                class="w-3 mr-2"
                [projectColor]="res.projectColor"
                [size]="'12px'"
              ></app-project-swatch>
              {{ res.projectName }}
            </span>
          </td>
          @for (month of monthsHeader; track month) {
          <td class="px-3 py-2 border text-center">
            <input
              class="w-12 py-2 border border-blue-600 rounded text-center bg-white"
              [value]="getCoreHour(res, monthsHeader.indexOf(month))"
              (keydown)="validateKeyDown($event)"
              (input)="
                onCoreHourChange(
                  $event,
                  monthKeys[monthsHeader.indexOf(month)],
                  res
                )
              "
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="3"
              min="0"
            />
          </td>
          }
        </tr>
        }
      </tbody>

      <!-- Sticky Footer -->
      <tfoot class="sticky bottom-0 bg-white">
        <tr class="bg-[#E7F3FA]">
          <td
            class="p-2 border-r border-t border-b border-blue-600 font-bold whitespace-nowrap"
          >
            Project Core Hr. Totals
          </td>
          @for (total of projectTotalCorehours; track $index) {
          <td
            class="p-2 border-r border-t border-b border-blue-600 text-center font-bold"
          >
            {{ total }}
          </td>
          }
        </tr>

        <tr class="bg-gray-100">
          <td class="p-2 border whitespace-nowrap">User Core Hr. Totals</td>
          @for (total of totalCoreHours; track $index) {
          <td class="p-2 border text-center">
            {{ total }}
          </td>
          }
        </tr>

        <tr class="bg-gray-100">
          <td class="p-2 border font-semibold whitespace-nowrap">
            Coverage Calculation
          </td>
          @for (val of totalCoreHours; track $index) {
          <td
            class="p-2 border text-center font-bold"
            [ngClass]="{
              'text-green-600': val - projectTotalCorehours[$index] >= 0,
              'text-red-600': val - projectTotalCorehours[$index] < 0
            }"
          >
            {{ val - projectTotalCorehours[$index] }}
          </td>
          }
        </tr>
      </tfoot>
    </table>
  </div>
</div>
}
