#week-calendar-time-header {
  width: 100%;
  display: flex;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  cursor: pointer;
  user-select: none;
  
}
  
#week-calendar-time-header > div {
  border: 1.5px solid #0078d4;
  color: #0078d4;
  background-color: lightgoldenrodyellow;
  font-weight: 500;
  text-align: center;
  padding: 5px;
  
}
#week-calendar-add-icons {
  display: flex;
  width: 100%;
  padding-top: 5px;
}
  #week-calendar-user-schedules {
    /*height: 600px;*/
    /*overflow-y: auto;*/
  }
  
  #week-calendar-user-schedules .user-card {
    padding: 5px;
    padding-left: 10px;
    display: inline-block;
    overflow: hidden;
    height: 55px;
    cursor: pointer;
    width: 9.5%;
    font-size: 0.9em;
    background-color: lightgoldenrodyellow;
    border-top: 0.5px solid gray;
    border-right: 0.5px solid gray;
  }
  
  #week-calendar-user-schedules .schedule-card {
    padding: 5px;
    display: block;
    overflow: hidden;
    height: 55px;
    background-color: white;
    /*white-space: nowrap;*/
    border: 0.5px solid #66AEFF;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
    font-size: 0.75em;
  }
  
  #week-calendar-user-schedules .user-schedule-row {
    height: 55px;
  }
  
  .center-align-container {
    /*display: flex;*/
    align-items: center;
    height: 100%;
  }
  
  .center-align-container > div {
    display: inline-block;
  }
  
  .project-swatch {
    width: 30px;
    height: 100%;
    text-align: center;
    margin-right: 10px;
    padding-top: 5%;
    border: 1px solid lightskyblue;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 25px 25px 0 rgb(0 0 0 / 14%), 0 1px 0px 0 rgb(0 0 0 / 12%);
  }
  
  .project-time {
    font-style: italic;
  }
  
  .day-schedules-container {
    display: inline-block;
    width: 14.25%;
    vertical-align: top;
    margin-bottom: 25px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .no-results {
    padding: 15px;
    display: inline-block;
    height: 50px;
    vertical-align: top;
  }
  
  @media only screen and (max-width: 1100px) {
    #week-calendar-time-header > div {
      font-size: 0.8em;
    }
  }
  
  @media only screen and (max-width: 950px) {
    #week-calendar-time-header > div {
      font-size: 0.7em;
    }
  }
  
  @media only screen and (max-width: 850px) {
    #week-calendar-time-header > div {
      font-size: 0.6em;
    }
  }
  .no-spinner {
    -moz-appearance: textfield; 
  }
  
  .no-spinner::-webkit-inner-spin-button, 
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .no-spinner::-ms-clear {
    display: none;
  }
  .hour-input {
    width: 60px;
    text-align: right;
    -moz-appearance: textfield;
    border: 2px solid #58595B;
  }
  
  .hour-input::-webkit-inner-spin-button, 
  .hour-input::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0;
  }
  .hour-input::placeholder {
    color: #58595B; /* Placeholder color */
    opacity: 1;
  }
  .hour-input:-ms-input-placeholder { /* Edge */
    color: #58595B;
  }
  
  .hour-input::-ms-input-placeholder { /* IE */
    color: #58595B;
  }