<div id="week-calendar" style="background-color: #f2f2f2 !important;">
  <div id="week-calendar-header"></div>
  <div id="week-calendar-time-header" class="week-calendar-time-header">
    <div
      *ngFor="let day of [1, 2, 3, 4, 5, 6, 7]; let i = index"
      style="width: 14.25%"
      (dblclick)="
        openUserSchedule(
          null,
          null,
          GetDaysDateAsDate(weekSchedules?.weekStart, day),
          1
        )
      "
    >
      {{
        [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ][i]
      }}
      {{ GetDaysDate(weekSchedules?.weekStart, day) }}
    </div>
    <div
      style="
        width: 7%;
        text-align: center;
        background: #0078d4;
        color: white;
        font-weight: bold;
      "
    >
      Total
    </div>
  </div>

  <div id="week-calendar-add-icons" class="week-calendar-add-icons">
    <div
      *ngFor="let day of [1, 2, 3, 4, 5, 6, 7]; let i = index"
      style="width: 14.25%; text-align: center"
    >
      <mat-icon style="cursor: pointer; color: #0078d4; text-align: center">
        add
      </mat-icon>
    </div>
    <input
      style="width: 7%; text-align: center"
      type="number"
      placeholder="0 hr"
      class="no-spinner hour-input"
    />
  </div>

  <div id="week-calendar-user-schedules">
    <div class="day-schedules-container">
      @for (schedule of weekSchedules?.day1Schedules; track schedule) {
      <div
        class="schedule-card"
        (dblclick)="
          openUserSchedule(
            schedule.dempoid,
            schedule.projectName,
            schedule.startdatetime
          )
        "
        (mouseenter)="displayHoverMessage($event, schedule)"
        (mouseleave)="hideHoverMessage()"
      >
        <div class="center-align-container">
          <app-project-swatch
            [projectColor]="schedule.projectColor"
          ></app-project-swatch>
          <div>
            <div class="bold">{{ schedule.displayName }}:</div>
            <div class="project-time">
              {{ schedule.startTime }} - {{ schedule.endTime }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="day-schedules-container">
      @for (schedule of weekSchedules?.day2Schedules; track schedule) {
      <div
        class="schedule-card"
        (dblclick)="
          openUserSchedule(
            schedule.dempoid,
            schedule.projectName,
            schedule.startdatetime
          )
        "
        (mouseenter)="displayHoverMessage($event, schedule)"
        (mouseleave)="hideHoverMessage()"
      >
        <div class="center-align-container">
          <app-project-swatch
            [projectColor]="schedule.projectColor"
          ></app-project-swatch>
          <div>
            <div class="bold">{{ schedule.displayName }}:</div>
            <div class="project-time">
              {{ schedule.startTime }} - {{ schedule.endTime }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="day-schedules-container">
      @for (schedule of weekSchedules?.day3Schedules; track schedule) {
      <div
        class="schedule-card"
        (dblclick)="
          openUserSchedule(
            schedule.dempoid,
            schedule.projectName,
            schedule.startdatetime
          )
        "
        (mouseenter)="displayHoverMessage($event, schedule)"
        (mouseleave)="hideHoverMessage()"
      >
        <div class="center-align-container">
          <app-project-swatch
            [projectColor]="schedule.projectColor"
          ></app-project-swatch>
          <div>
            <div class="bold">{{ schedule.displayName }}:</div>
            <div class="project-time">
              {{ schedule.startTime }} - {{ schedule.endTime }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="day-schedules-container">
      @for (schedule of weekSchedules?.day4Schedules; track schedule) {
      <div
        class="schedule-card"
        (dblclick)="
          openUserSchedule(
            schedule.dempoid,
            schedule.projectName,
            schedule.startdatetime
          )
        "
        (mouseenter)="displayHoverMessage($event, schedule)"
        (mouseleave)="hideHoverMessage()"
      >
        <div class="center-align-container">
          <app-project-swatch
            [projectColor]="schedule.projectColor"
          ></app-project-swatch>
          <div>
            <div class="bold">{{ schedule.displayName }}:</div>
            <div class="project-time">
              {{ schedule.startTime }} - {{ schedule.endTime }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="day-schedules-container">
      @for (schedule of weekSchedules?.day5Schedules; track schedule) {
      <div
        class="schedule-card"
        (dblclick)="
          openUserSchedule(
            schedule.dempoid,
            schedule.projectName,
            schedule.startdatetime
          )
        "
        (mouseenter)="displayHoverMessage($event, schedule)"
        (mouseleave)="hideHoverMessage()"
      >
        <div class="center-align-container">
          <app-project-swatch
            [projectColor]="schedule.projectColor"
          ></app-project-swatch>
          <div>
            <div class="bold">{{ schedule.displayName }}:</div>
            <div class="project-time">
              {{ schedule.startTime }} - {{ schedule.endTime }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="day-schedules-container">
      @for (schedule of weekSchedules?.day6Schedules; track schedule) {
      <div
        class="schedule-card"
        (dblclick)="
          openUserSchedule(
            schedule.dempoid,
            schedule.projectName,
            schedule.startdatetime
          )
        "
        (mouseenter)="displayHoverMessage($event, schedule)"
        (mouseleave)="hideHoverMessage()"
      >
        <div class="center-align-container">
          <app-project-swatch
            [projectColor]="schedule.projectColor"
          ></app-project-swatch>
          <div>
            <div class="bold">{{ schedule.displayName }}:</div>
            <div class="project-time">
              {{ schedule.startTime }} - {{ schedule.endTime }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="day-schedules-container">
      @for (schedule of weekSchedules?.day7Schedules; track schedule) {
      <div
        class="schedule-card"
        (dblclick)="
          openUserSchedule(
            schedule.dempoid,
            schedule.projectName,
            schedule.startdatetime
          )
        "
        (mouseenter)="displayHoverMessage($event, schedule)"
        (mouseleave)="hideHoverMessage()"
      >
        <div class="center-align-container">
          <app-project-swatch
            [projectColor]="schedule.projectColor"
          ></app-project-swatch>
          <div>
            <div class="bold">{{ schedule.displayName }}:</div>
            <div class="project-time">
              {{ schedule.startTime }} - {{ schedule.endTime }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>

<app-hover-message [hoverMessage]="hoverMessage"></app-hover-message>
