<div *ngIf="id">
    <div id="header-inner">
        <div id="logged-in-as-section" class="flex">
          <div
            class="quick-reference-notification top-4 w-[440px] h-[79vh] right-2 quick-book-ref"
          >
            <!-- Header Section -->
            <div class="sticky-header">
              <div class="quick-refrence-top-header d-flex justify-between m-2">
                <div class="col-lg-10" style="display: flex">
                  <!-- <mat-icon fontIcon="mail" class="custom-color1"></mat-icon> &nbsp; -->
                  <div class="col-lg-2 mr-2">
                    <svg
                      width="34"
                      height="34"
                      viewBox="0 0 34 34"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <mask
                        id="mask0_326_3294"
                        style="mask-type: alpha"
                        maskUnits="userSpaceOnUse"
                        x="0"
                        y="0"
                        width="32"
                        height="32"
                      >
                        <rect width="32" height="32" fill="#D9D9D9" />
                      </mask>
                      <g mask="url(#mask0_326_3294)">
                        <path
                          d="M9.00016 29.3333C8.00016 29.3333 7.13905 28.9944 6.41683 28.3167C5.69461 27.6389 5.3335 26.8 5.3335 25.8V7.19998C5.3335 6.35554 5.59461 5.59998 6.11683 4.93332C6.63905 4.26665 7.32238 3.84443 8.16683 3.66665L21.3335 1.06665V22.4L8.70016 24.9333C8.50016 24.9778 8.3335 25.0833 8.20016 25.25C8.06683 25.4167 8.00016 25.6 8.00016 25.8C8.00016 26.0444 8.10016 26.25 8.30016 26.4167C8.50016 26.5833 8.7335 26.6667 9.00016 26.6667H24.0002V5.33332H26.6668V29.3333H9.00016ZM9.3335 22.1L12.0002 21.5667V5.63332L9.3335 6.16665V22.1Z"
                          fill="#0680CD"
                        />
                      </g>
                    </svg>
                  </div>
                  <div class="col-lg-5 mt-1">
                    <span class="quick-span quick-reference">Participant ID: {{ id }}</span>
                  </div>
                </div>
                <div>
                  <!-- <mat-icon
                    fontIcon="open_in_new"
                    class="custom-color1"
                    style="cursor: pointer; color: #0680cd"
                    (click)="moveToPage($event)"
                  ></mat-icon> -->
                  &nbsp;
                </div>
              </div>
          
            </div>
      
   
          </div>
        </div>
      </div>
      
</div>