.calendar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box; 
}

.calendar-container app-calendar {
  flex: 1;
  min-width: 300px;
  max-width: 100%;
}

.calendar-container app-announcements {
  flex: 1;
  max-width: 430px;

}

@media (max-width: 1024px) {
  .calendar-container {
    flex-direction: column;
  }
}
