
<div id="calendar-date-picker" [class.week-date-picker]="_calendarType.toUpperCase() == 'WEEK'">
    <div class="arrow-nav" (click)="addDateUnitsToSelectedDate(-1)">
      <svg width="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="#2D6BA4"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z">
        </path>
      </svg>
    </div>
  
  
    @if (_calendarType.toUpperCase() == 'DAY') {
      <app-day-datepicker [selectedDate]="_selectedDate"
        (selectedDateChange)="emitSelectedDate()">
      </app-day-datepicker>
    }
  
  
    @if (_calendarType.toUpperCase() == 'WEEK') {
      <app-week-datepicker
        [selectedDate]="_selectedDate"
        [(selectedDateRange)]="selectedDateRange"
        (selectedDateChange)="emitSelectedDate()">
      </app-week-datepicker>
    }
  
  
    @if (_calendarType.toUpperCase() == 'MONTH') {
      <app-month-datepicker
        [selectedDate]="_selectedDate"
        (selectedDateChange)="emitSelectedDate()">
      </app-month-datepicker>
    }
  
  
    <!--<div class="arrow-nav" (click)="addDaysToSelectedDate(1)">-->
    <div class="arrow-nav" (click)="addDateUnitsToSelectedDate(1)">
      <svg width="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle-fill" fill="#2D6BA4"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z">
        </path>
      </svg>
    </div>
  </div>
  


  