<div id="day-calendar">
  <div id="day-calendar-header"></div>
  <div id="day-calendar-time-header">
    <div
      *ngIf="authenticatedUser?.interviewer"
      [ngStyle]="{
        width: '13.1%',
        border: 'none'
      }"
    ></div>
    <div
      *ngIf="authenticatedUser?.admin && selectedUser?.userId != 0"
      [ngStyle]="{
        width: '13.1%',
        border: 'none'
      }"
    ></div>
    <div
      *ngIf="authenticatedUser?.admin && selectedUser?.userId == 0"
      [ngStyle]="{
        width: '15.4%',
        border: 'none'
      }"
    ></div>
    <div class="hour-header">08:00 AM</div>
    <div class="hour-header">09:00 AM</div>
    <div class="hour-header">10:00 AM</div>
    <div class="hour-header">11:00 AM</div>
    <div class="hour-header">12:00 PM</div>
    <div class="hour-header">01:00 PM</div>
    <div class="hour-header">02:00 PM</div>
    <div class="hour-header">03:00 PM</div>
    <div class="hour-header">04:00 PM</div>
    <div class="hour-header">05:00 PM</div>
    <div class="hour-header">06:00 PM</div>
    <div class="hour-header">07:00 PM</div>
    <div class="hour-header">08:00 PM</div>
    <div class="hour-header">09:00 PM</div>
    <div class="hour-header">10:00 PM</div>
    <div class="hour-header">11:00 PM</div>
    <div
      *ngIf="authenticatedUser?.interviewer"
      class="total-hour-header"
      style="background: #0078d4; color: white"
    >
      Total
    </div>

    <div
      *ngIf="authenticatedUser?.admin && selectedUser?.userId != 0"
      class="total-hour-header"
      style="background: #0078d4; color: white"
    >
      Total
    </div>
  </div>
  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner color="primary" [diameter]="30"></mat-spinner>
  </div>
  <div style="position: relative">
    <div
      class="day-input-container"
      *ngIf="authenticatedUser?.interviewer"
      style="
        position: absolute;
        top: -3px;
        right: 0;
        z-index: 10;
      "
    >
      <input
        type="text"
        [value]="calculateTotalDuration() + ' hr'"
        class="day-right-aligned-input"
        [readonly]="true"
        [style.height]="inputHeight"
        disabled="true"
      />
    </div>
    <div
      id="day-calendar-user-schedules"
      style="margin-top: 0"
      *ngIf="!isLoading"
    >
      @for (us of filteredShiftSchedule; track us) {
      <div class="user-schedule-row">
        <div
          *ngIf="authenticatedUser?.interviewer"
          class="user-card"
          [ngStyle]="{
            width: '12.85%'
          }"
        >
          {{ us.user.userName }}
        </div>

        <div
          *ngIf="authenticatedUser?.admin && selectedUser?.userId != 0"
          class="user-card"
          [ngStyle]="{
            width: '12.85%'
          }"
        >
          {{ us.user.userName }}
        </div>

        <div
          *ngIf="authenticatedUser?.admin && selectedUser?.userId == 0"
          class="user-card"
          [ngStyle]="{
            width: '15.4%'
          }"
        >
          {{ us.user.userName }}
        </div>
        <!-- [style.border]="schedule.isEdit ? '2.5px solid #66aeff' : ''" -->
        @for (schedule of [us]; track schedule) {
        <div
          class="schedule-card"
          (click)="handleClick(schedule, $event)"
          (mouseenter)="displayHoverMessage($event, schedule, us)"
          (mouseleave)="hideHoverMessage()"
          [ngStyle]="customScheduleCard(schedule.startTime, schedule.endTime)"
          [style.opacity]="schedule.isEdit ? 0.5 : 1"
        >
          <div class="center-align-container">
            <app-project-swatch
              [projectColor]="schedule.projects.projectColor"
            ></app-project-swatch>
            <div>
              <span class="bold">{{ schedule.user.userName }}: </span>
              <span>{{ schedule.startTime }} - {{ schedule.endTime }}</span>
              <div class="project-time">
                <div class="duration-circle-day">
                  {{ schedule.duration }} hr
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div
        class="input-container"
        *ngIf="authenticatedUser?.admin && selectedUser?.userId != 0"
      >
        <input
          type="text"
          [value]="schedule?.duration + ' hr'"
          class="right-aligned-input"
          [readonly]="true"
          disabled="true"
        />
      </div> -->

        }
      </div>
      }
      <div
        *ngIf="authenticatedUser?.interviewer"
        class="user-card"
        [ngStyle]="{
          width: '12.85%'
        }"
        style="margin-top: -5px"
      ></div>

      <div
        *ngIf="authenticatedUser?.admin && selectedUser?.userId != 0"
        class="user-card"
        [ngStyle]="{
          width: '12.85%'
        }"
        style="margin-top: -5px"
      ></div>

      <div
        *ngIf="authenticatedUser?.admin && selectedUser?.userId == 0"
        class="user-card"
        [ngStyle]="{
          width: '15.4%'
        }"
        style="margin-top: -5px"
      ></div>

      <div
        *ngIf="
          filteredShiftSchedule?.length == 0 && authenticatedUser?.interviewer
        "
        class="no-results bold italic"
        style="margin-top: -5px"
      >
        No schedules found for this day...
      </div>
      <div
        *ngIf="
          filteredShiftSchedule?.length == 0 && !authenticatedUser?.interviewer
        "
        class="no-results bold italic"
        style="margin-top: -5px"
      >
        No schedules found for this day...
      </div>
      <div class="icon-input-container">
        <div class="add-icon">
          <mat-icon style="cursor: pointer" (click)="addShift()">add</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="showTooltip"
    class="custom-tooltip"
    [ngStyle]="tooltipPosition"
    [innerHTML]="tooltipMessage"
  ></div>
</div>

<app-hover-message [hoverMessage]="hoverMessage"></app-hover-message>
