<div id="day-calendar">
  <div id="day-calendar-header"></div>
  <div id="day-calendar-time-header">
    <div style="width: 10.1%; border: none"></div>
    <div class="hour-header">08:00 AM</div>
    <div class="hour-header">09:00 AM</div>
    <div class="hour-header">10:00 AM</div>
    <div class="hour-header">11:00 AM</div>
    <div class="hour-header">12:00 PM</div>
    <div class="hour-header">01:00 PM</div>
    <div class="hour-header">02:00 PM</div>
    <div class="hour-header">03:00 PM</div>
    <div class="hour-header">04:00 PM</div>
    <div class="hour-header">05:00 PM</div>
    <div class="hour-header">06:00 PM</div>
    <div class="hour-header">07:00 PM</div>
    <div class="hour-header">08:00 PM</div>
    <div class="hour-header">09:00 PM</div>
    <div class="hour-header">10:00 PM</div>
    <div class="hour-header">11:00 PM</div>
    <div
      class="hour-header"
      style="
        text-align: center;
        background: #0078d4;
        color: white;
        font-weight: bold;
      "
    >
      Total
    </div>
  </div>

  <div id="day-calendar-user-schedules">
    @for (us of shiftSchedule; track us) {
      <div class="user-schedule-row">
        <div class="user-card">
          {{ us.user.userName }}
        </div>
  
        @for (schedule of [us]; track schedule) {
          <div 
            class="schedule-card"
            (dblclick)="openUserSchedule(schedule.user.userId, schedule.projects.projectName)"
            (mouseenter)="displayHoverMessage($event, schedule, us)"
            (mouseleave)="hideHoverMessage()"
            [ngStyle]="customScheduleCard(schedule.startTime, schedule.endTime)">
            <div class="center-align-container">
              <app-project-swatch [projectColor]="schedule.projects.projectColor"></app-project-swatch>
              <div>
                <span class="bold">{{ schedule.user.userName }}:</span> 
                <span class="project-time">{{ schedule.startTime }} - {{ schedule.endTime }}</span>
              </div>
            </div>
          </div>
        }
      </div>
    }
    <div class="user-row">
      <div class="user-card"></div>
      <mat-icon class="add-icon">add</mat-icon>
      <input
        style="width: 5.25%; text-align: center; margin-right: -4px"
        type="number"
        placeholder="0 hr"
        class="no-spinner hour-input"
      />
    </div>
  </div>
  <div *ngIf="showTooltip" class="custom-tooltip" [ngStyle]="tooltipPosition" [innerHTML]="tooltipMessage"></div>

  
  
</div>

<app-hover-message [hoverMessage]="hoverMessage"></app-hover-message>
