<div class="container">
    
    <!-- Breadcrumb -->
    <nav class="m-0 text-sm font-normal text-[#58595B] leading-4 select-none">
        <span class="cursor-pointer underline text-[#005698]" (click)="closeWindow()">Users</span> /
        <span class="cursor-default">{{getTitle()}}</span>
    </nav>

  <!-- User Container with Tabs -->
  <div class="border border-[#c2c2c2] border-3 rounded-lg"
    style="border-color: #c2c2c2 !important;">

        <div class="flex items-start p-4">
    
            <!-- photo -->
            <div class="flex gap-1 items-end ml-[-15px]">
    
              <!-- help icon -->
              <mat-icon style="width: 16px; height: 16px;"
                svgIcon="info" [ngbTooltip]="tooltipContent"></mat-icon>
              <ng-template #tooltipContent>
                  JPG or PNG <br />
                  Max. 10 MB
              </ng-template>
    
              <!-- photo -->
              <div class="w-fit">
                <div class="text-center"
                  (click)="fileInput.click()">
                  <ng-container *ngIf="previewUrl; else defaultIcon">
                    <img [src]="previewUrl" alt="Uploaded Image" class="" />
                  </ng-container>
                  <ng-template #defaultIcon>
                    <mat-icon style="width: 60px; height: 60px;" svgIcon="user-square"></mat-icon>
                  </ng-template>
                </div>
    
                <div class="flex gap-1 items-center" (click)="fileInput.click()">
                  <span class="text-xs text-[#005698] text-center underline cursor-pointer">Upload Photo</span>
                </div>
              </div>
    
              <!-- hidden input and error message -->
              <input #fileInput type="file" hidden accept="image/jpeg, image/png" (change)="onFileChange($event)" />
              <div *ngIf="errorMessageForImage" class="error-message">{{ errorMessageForImage }}</div>
    
            </div>
    
            <div class="text-xl text-button-blue w-fit ml-1">
                {{getTitle()}}
            </div>
    
        </div>
    
        <div class="divider"></div>

        <!-- Tabs -->
        <div class="flex items-center justify-between gap-2 m-3">
            <div class="flex items-center gap-2">
    
              <div class="cursor-pointer flex items-center gap-1 border-b-[#1874CA] px-3 pb-1"
              [class.invalid-emphasis]="coreHoursInvalid || ((!defaultProject || defaultProject === 0) && this.trainedOnProjects.length > 0)"
              [class.text-[#1874CA]]="selectedTab === 'scheduling'"
                [class.border-b]="selectedTab === 'scheduling'"
                [class.border-b-[3px]]="selectedTab === 'scheduling'"
                [ngStyle]="{
                  fontSize: selectedTab === 'scheduling' ? '16px' : '14px',
                  borderBottomColor:
                  selectedTab === 'scheduling' && (coreHoursInvalid || !defaultProject || defaultProject === 0) && this.trainedOnProjects.length > 0
                      ? '#dc4a38'
                      : '#1874CA'
                }"
                (click)="onTabChanged('scheduling')">
                <div>Scheduling</div><div *ngIf="coreHoursInvalid">**</div>
                <div *ngIf="((!defaultProject || defaultProject === 0) ) && this.trainedOnProjects.length > 0">*</div>
              </div>
                <div class="cursor-pointer flex items-center gap-1 border-b-[#1874CA] px-3 pb-1"
                    [class.invalid-emphasis]="coreHoursInvalid"
                    [class.text-[#1874CA]]="selectedTab === 'user-details'"
                    [class.border-b]="selectedTab === 'user-details'"
                    [class.border-b-[3px]]="selectedTab === 'user-details'"
                    (click)="onTabChanged('user-details')">
                    <div><span [ngClass]="{'invalid-tab': isUserFormInvalid}"> User Details </span><span class="required"
                    *ngIf="isUserFormInvalid || (selectedTab === 'user-details' && tab2Invalid)">*</span></div><div *ngIf="coreHoursInvalid">**</div>
                </div>
                <div class="cursor-pointer flex items-center gap-1 border-b-[#1874CA] px-3 pb-1"
                    [class.text-[#1874CA]]="selectedTab === 'personal-contact-info'"
                    [class.border-b]="selectedTab === 'personal-contact-info'"
                    [class.border-b-[3px]]="selectedTab === 'personal-contact-info'"
                    [class.invalid-emphasis]="coreHoursInvalid"
                    (click)="onTabChanged('personal-contact-info')">
                    <div>Personal Contact Info</div><div *ngIf="coreHoursInvalid">**</div>
                </div>
    
            </div>
    
            <!-- Buttons -->
            <div class="flex items-center gap-2">
                <button class="btn-outline" (click)="showUnsavedChangesDialog()">Cancel</button>
                <!-- <button mat-raised-button color="primary submit" [disabled]="tab2Invalid" (click)="confirmDialog()">Save</button> -->

                @if ((!defaultProject || defaultProject === 0) && this.trainedOnProjects.length > 0) {
                  <button mat-raised-button color="primary submit" [disabled]="true" (click)="confirmDialog()">Save</button>
                }@else {
                  <button mat-raised-button color="primary submit" [disabled]="tab2Invalid" (click)="confirmDialog()">Save</button>
                  <!-- <button mat-raised-button color="primary submit" [disabled]="tab2Invalid || !changed" (click)="saveUser()"  *ngIf="!isEdit">Save</button> -->
        
                }
            </div>
        </div>
  
        <!-- Tab 1: Scheduling -->
        @if (selectedTab === 'scheduling') {
            <div class="ml-3 mr-3">
            <div class="font-medium tracking-wider mb-2">PROJECTS</div>  
          <div>
            <app-trained-on-projects [trainedOnProjects]="trainedOnProjects"
                                      [defPro]="defPro"
                                      [notTrainedOnProjects]="notTrainedOnProjects"
                                      [listingOnly]="readOnly"
                                      (trainedOnChange)="trainedOnChange($event)"
                                      [newFlag]="newFlag"
                                      *ngIf="createForm"></app-trained-on-projects>
          </div>
  
          <!-- divider -->
          <div class="my-4 border-b border-b-2"
            style="border-color: #c2c2c2 !important;"></div>
                <div class="font-medium tracking-wider mb-2">CORE HOURS MONTHLY</div>
                <table id="core-hours-table">
                  <thead>
                    <tr id="core-hours-header" class="bold">
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month1)">{{ formatDateToShortMonthYear(coreHours?.month1 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month2)">{{ formatDateToShortMonthYear(coreHours?.month2 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month3)">{{ formatDateToShortMonthYear(coreHours?.month3 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month4)">{{ formatDateToShortMonthYear(coreHours?.month4 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month5)" >{{ formatDateToShortMonthYear(coreHours?.month5 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month6)">{{ formatDateToShortMonthYear(coreHours?.month6 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month7)">{{ formatDateToShortMonthYear(coreHours?.month7 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month8)">{{ formatDateToShortMonthYear(coreHours?.month8 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month9)">{{ formatDateToShortMonthYear(coreHours?.month9 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month10)">{{ formatDateToShortMonthYear(coreHours?.month10 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month11)">{{ formatDateToShortMonthYear(coreHours?.month11 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month12)">{{ formatDateToShortMonthYear(coreHours?.month12 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month13)">{{ formatDateToShortMonthYear(coreHours?.month13 || null) }}</td>
                      <td [class.current-month-highlight]="isCurrentMonth(coreHours?.month14)">{{ formatDateToShortMonthYear(coreHours?.month14 || null) }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td *ngFor="let ch of numSequence(14); let i = index" [class.current-month-highlight1]="isCurrentMonth(coreHours['month' + (i + 1)])">
                        <mat-form-field class="coreHoursInput" style="height: 50px; border: 1px solid black !important; border-radius: 4px; width: 55px;">
                          <input style="align-items: center; " type="text" matInput [(ngModel)]="coreHours['coreHours' + (i + 1)]"
                            (keyup)="setChanged(); nvlHours(coreHours, (i + 1))" (keypress)="numberRestrict($event)"
                            name="core-hours-{{i}}" autocomplete="off" maxlength="4">
                        </mat-form-field>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        }
            
        <!-- Tab 2: User Details -->
        @if (selectedTab === 'user-details') {
            <div class="m-3">
                <ng-template mat-tab-label>
                    <span [ngClass]="{'invalid-tab': isUserFormInvalid}"> User Details </span><span class="required"
                        *ngIf="tab2Invalid">*</span>
                </ng-template>
                <div *ngIf="!tab2UserFields">
                    Loading profile...
                </div>
                <div *ngIf="tab2UserFields">
                    <div class="row">
                        <div *ngFor="let ff of tab2UserFields;"
                            [class.relative]="ff.formFieldVariable.formField?.columnName == 'schedulinglevel'"
                            [class.wd250]="ff.formFieldVariable.formField.fieldType != 'longtextbox'"
                            [class.wd516]="ff.formFieldVariable.formField.fieldType == 'longtextbox'">
                            <app-form-field [formField]="ff" [readOnly]="readOnly || disableRules(ff)"
                                [contextUser]="selectedUser" [allProjectsMin]="activeProjects"
                                [class.disabled]="disableRules(ff)" (formFieldChanged)="setChanged()">
                            </app-form-field>
                            <mat-icon svgIcon="blue-info" class="info blue-info"
                             style="cursor: pointer;"
                             *ngIf="ff.formFieldVariable.formField?.columnName == 'schedulinglevel'"
                             (click)="moveToPage($event)" ngbTooltip="Click to view scheduling level explanations"></mat-icon>
                        </div>

                        <div class="hr"></div>
                        <div class="row section">
                            <div class="sub-heading">Work Contact Info</div>
                            <div *ngFor="let ff of tab2_1UserFields;"
                                [class.wd250]="ff.formFieldVariable.formField.fieldType != 'longtextbox'"
                                [class.wd516]="ff.formFieldVariable.formField.fieldType == 'longtextbox'">
                                <app-form-field [formField]="ff" [readOnly]="readOnly || disableRules(ff)"
                                    [contextUser]="selectedUser" [allProjectsMin]="activeProjects"
                                    [class.disabled]="disableRules(ff)" (formFieldChanged)="setChanged()">
                                </app-form-field>
                            </div>
                        </div>

                        <div class="hr"></div>
                        <div class="row section">
                            <div class="sub-heading">Hiring</div>
                            <div *ngFor="let ff of tab2_2UserFields;"
                                [class.wd250]="ff.formFieldVariable.formField.fieldType != 'longtextbox'"
                                [class.wd516]="ff.formFieldVariable.formField.fieldType == 'longtextbox'">
                                <app-form-field [formField]="ff" [readOnly]="readOnly || disableRules(ff)"
                                    [contextUser]="selectedUser" [allProjectsMin]="activeProjects"
                                    [class.disabled]="disableRules(ff)" (formFieldChanged)="setChanged()">
                                </app-form-field>
                            </div>
                        </div>

                        <div class="hr"></div>
                        <div class="row section">
                            <div class="sub-heading">Certification</div>
                            <div *ngFor="let ff of tab2_3UserFields;"
                                [class.wd250]="ff.formFieldVariable.formField.fieldType != 'longtextbox'"
                                [class.wd516]="ff.formFieldVariable.formField.fieldType == 'longtextbox'">
                                <app-form-field [formField]="ff" [readOnly]="readOnly || disableRules(ff)"
                                    [contextUser]="selectedUser" [allProjectsMin]="activeProjects"
                                    [class.disabled]="disableRules(ff)" (formFieldChanged)="setChanged()">
                                </app-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        <!-- Tab 3: personal contact Info -->
        @if (selectedTab === 'personal-contact-info') {
            <div class="m-3">
                <div *ngIf="!tab3UserFields">
                    Loading profile...
                </div>
                <div *ngIf="tab3UserFields">
                    <div class="row" style="width: 80%">
                        <div *ngFor="let ff of tab3UserFields;"
                            [class.relative]="ff.formFieldVariable.formField?.columnName == 'schedulinglevel'"
                            [class.wd250]="ff.formFieldVariable.formField.fieldType != 'longtextbox'"
                            [class.wd516]="ff.formFieldVariable.formField.fieldType == 'longtextbox'">
                            <app-form-field [formField]="ff" [readOnly]="readOnly || disableRules(ff)"
                                [contextUser]="selectedUser" [allProjectsMin]="activeProjects"
                                [class.disabled]="disableRules(ff)" (formFieldChanged)="setChanged()">
                            </app-form-field>

                        </div>
                    </div>
                </div>
            </div>
        }
    
  </div>

</div>
<style>
    ::ng-deep .mat-mdc-form-field-infix{
      margin-top: 0px;
    margin-left: 3px;
    }
  
    .current-month-highlight {
    border: 3px solid #007bff !important;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(0, 123, 255, 0.1); 
  
    /* background-color: rgba(0, 123, 255, 0.1);  */
  }
  
  .current-month-highlight mat-form-field {
    border-radius: 4px;
      background-color: rgba(0, 123, 255, 0.1); 
  
      
  }
  
  .current-month-highlight1 {
    border: 3px solid #007bff !important;
    border-radius: 4px;
    padding: 4px;
    /* background-color: rgba(0, 123, 255, 0.1);  */
  }
  
  .current-month-highlight1 mat-form-field {
    border-radius: 4px;
    background-color: rgba(0, 123, 255, 0.1);
  }
  </style>