
<div *ngIf="authenticatedUser?.netID">
  <div class="flex items-center justify-between mb-4">
    <div class="flex items-center">
      <div class="min-w-[225px] pr-4 py-1">
        <app-select
          id="status-filter"
          [fieldLabel]="'User Role (for Core Hr. Totals)'"
          [dropDownValues]="dropDownValues"
          [selectedValues]="selectedValues"
          (selectedValuesChange)="userRoleChange($event)"
        >
        </app-select>
      </div>
    </div>
    <div class="flex space-x-2">
      <button
        (click)="saveCoreHours()"
        class="bg-blue-400 hover:bg-blue-500 text-white font-semibold px-6 py-2 rounded shadow border-2 border-blue-400"
      >
        Save
      </button>
      <button
        class="bg-white border border-blue-400 text-blue-500 font-semibold px-6 py-2 rounded shadow border-2 border-blue-400"
      >
        Export
      </button>
    </div>
  </div>

  <div class="overflow-x-auto border border-blue-600 max-h-[600px]">
    <table
      class="text-black min-w-full text-s border-separate border-spacing-0"
    >
      <thead class="sticky top-0 bg-gray-200 z-10">
        <tr class="bg-[#E7F3FA] border border-blue-600">
          <th
            class="text-left px-2 py-1 border-r border-b border-blue-600 font-semibold w-48 whitespace-nowrap"
          >
            User (hrs. per week)
          </th>
          @for (month of monthsHeader; track $index) {
          <th
            class="text-center px-2 py-1 border-r border-b border-blue-600 font-semibold"
          >
            {{ month }}
          </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (res of list; track res) {
        <tr class="bg-white">
          <td class="px-2 py-1 border">{{ res.fname }} {{ res.lname }}</td>

          @for (month of monthsHeader; track $index) {
          <td class="px-3 py-2 border text-center">
            <input
              class="w-12 py-2 border border-blue-600 rounded text-center bg-white"
              [value]="getCoreHour(res, $index)"
              (keydown)="validateKeyDown($event)"
              (input)="onCoreHourChange($event, monthKeys[$index], res)"
              inputmode="numeric"
              pattern="[0-9]*"
              min="0"
            />
          </td>
          }
        </tr>
        }
      </tbody>
      <tfoot>
        <tr
          class="bg-[#E7F3FA] border border-blue-600 sticky bottom-[76px] z-10"
        >
          <td
            class="p-2 border-r border-t border-b border-blue-600 font-bold whitespace-nowrap"
          >
            User Core Hr. Totals
          </td>
          @for (total of totalCoreHours; track $index) {
          <td
            class="p-2 border-r border-t border-b border-blue-600 text-center font-bold"
          >
            {{ total }}
          </td>
          }
        </tr>

        <tr class="bg-gray-100 sticky bottom-[38px] z-10">
          <td class="p-2 border whitespace-nowrap">User Project Hr. Totals</td>
          @for (total of projectTotalCorehours; track $index) {
          <td class="p-2 border text-center">{{ total }}</td>
          }
        </tr>

        <tr class="bg-gray-100 sticky bottom-0 z-10">
          <td class="p-2 border font-semibold whitespace-nowrap">
            Coverage Calculation
          </td>
          @for (val of projectTotalCorehours; track $index) {
          <td
            class="p-2 border text-center font-bold"
            [ngClass]="{
          'text-green-600': (val - totalCoreHours[$index]) >= 0,
          'text-red-600': (val - totalCoreHours[$index]) < 0
        }"
          >
            {{ val - totalCoreHours[$index] }}
          </td>
          }
        </tr>
      </tfoot>
    </table>

    <!-- <app-table-paginator [sourceData]="list" [(currentPage)]="currentPage" [(paginatedData)]="paginatedList"
    (pageChange)="onPageChanged()" class="custom-paginator"></app-table-paginator> -->
  </div>
</div>
