<div class="dialog-container">
  <div class="dialog-header">
    <span class="icon-warning">!</span>
  </div>
  <h2 class="dialog-title">
    Delete Shift Schedule
  </h2>
  <p class="dialog-message">Are you sure you want to delete shift schedule.</p>
  <div class="dialog-actions">
    <button mat-flat-button class="w-100 primary-button" (click)="onCancel()">
      Go, Back
    </button>
    <button mat-flat-button class="w-100 warn-button" (click)="onConfirm()">
      Delete Shift Schedule
    </button>
  </div>
</div>
