<div class="dialog-container">
  <div class="dialog-header">
    <span class="icon-warning">!</span>
  </div>
  <h2 class="dialog-title">
    Delete Shift Schedules
  </h2>
  <p class="dialog-message">Saving the calendar will delete one or more shift schedule for interviewers.</p>
  <div class="dialog-actions">
    <button mat-flat-button class="w-100 primary-button" (click)="onCancel()">
      Go, Back
    </button>
    <button mat-flat-button class="w-100 warn-button" (click)="onConfirm()">
      Save Changes and Delete Shift Schedules
    </button>
  </div>
</div>
