<div
  *ngIf="authenticatedUser?.role == UserRoles.Interviewer"
  style="background-color: #f2f2f2 !important"
>
  @for (weekSchedules of monthSchedules?.weekSchedules; track weekSchedules) {
  <div class="week-schedules-container">
    <app-shift-week-view
      [weekSchedules]="weekSchedules"
      (resetShiftSchedule)="onResetShiftSchedule()"
      [monthPart]="true"
      (sendWeekDate)="handleMonthDate($event)"
      (scheduleData)="handleWeekSchedule($event)"
      [isLoading]="isLoading"
      [isScheduleUpdate]="isScheduleUpdate"
    ></app-shift-week-view>
  </div>
  } @if ([monthSchedules?.weekSchedules || []].length < 1) {
  <app-shift-week-view [weekSchedules]="null"></app-shift-week-view>
  }
</div>

<div
  *ngIf="(authenticatedUser?.role == UserRoles.Admin || authenticatedUser?.role == UserRoles.OutcomesIT) && selectedUser?.userId != 0"
  style="background-color: #f2f2f2 !important"
>
  @for (weekSchedules of monthSchedules?.weekSchedules; track weekSchedules) {
  <div class="week-schedules-container">
    <app-shift-week-view
      [weekSchedules]="weekSchedules"
      (resetShiftSchedule)="onResetShiftSchedule()"
      [monthPart]="true"
      (sendWeekDate)="handleMonthDate($event)"
      (scheduleData)="handleWeekSchedule($event)"
      [isLoading]="isLoading"
      [isScheduleUpdate]="isScheduleUpdate"
    ></app-shift-week-view>
  </div>
  } @if ([monthSchedules?.weekSchedules || []].length < 1) {
  <app-shift-week-view [weekSchedules]="null"></app-shift-week-view>
  }
</div>
<div
  *ngIf="(authenticatedUser?.role == UserRoles.Admin || authenticatedUser?.role == UserRoles.OutcomesIT) && selectedUser?.userId == 0"
  style="background-color: #f2f2f2 !important"
>
  @for (weekSchedules of monthSchedules?.weekSchedules; track weekSchedules) {
  <div class="week-schedules-container">
    <app-shift-week-view-v3
      [weekSchedules]="weekSchedules"
      (resetShiftSchedule)="onResetShiftSchedule()"
      [monthPart]="true"
      (sendWeekDate)="handleMonthDate($event)"
      (scheduleData)="handleWeekSchedule($event)"
      [isLoading]="isLoading"
      [isScheduleUpdate]="isScheduleUpdate"
    ></app-shift-week-view-v3>
  </div>
  } @if ([monthSchedules?.weekSchedules || []].length < 1) {
  <app-shift-week-view [weekSchedules]="null"></app-shift-week-view>
  }
</div>
