header {
  margin: 0px;
  padding: 5px;
  width: 100%;
  color: white;
  background-color: #0078d4;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

#logged-in-as-section {
  height: 20px;
  float: right;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-right: 10px;
}

#logged-in-as {
  /*display: inline-flex;*/
  margin-right: 10px;
  font-size: 0.9em;
  margin-top: 5px;
}

#logout-button {
  display: inline-flex;
  cursor: pointer;
  text-align: center;
  font-size: 0.7em;
  margin-bottom: 12px;
}

#logout-button a {
  color: white;
}

.pro-ep-role {
    font-size: 0.8em;
    text-align: right;
}

#wordmark-logo {
  height: 80px;
}

#header-inner {
  background-color: white;
  color: #164b8b;
}
