<!-- HC added -->
<div class="module-header">
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#00569B">
    <path
      d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v187q0 17-11.5 28.5T800-493q-17 0-28.5-11.5T760-533v-27H200v400h232q17 0 28.5 11.5T472-120q0 17-11.5 28.5T432-80H200Zm520 40q-83 0-141.5-58.5T520-240q0-83 58.5-141.5T720-440q83 0 141.5 58.5T920-240q0 83-58.5 141.5T720-40Zm67-105 28-28-75-75v-112h-40v128l87 87Z" />
    </svg>
  <h3>Shift Schedule</h3>
</div>
  <!-- end HC added -->
  <div id="calendar-container">
  <!--refresh-->
  <div id="refresh-calendar-container">
    <svg id="refresh-calendar" (click)="getAllUserSchedulesByAnchorDate()" [class.spin]="scheduleFetchStatus"
      xmlns="http://www.w3.org/2000/svg" width="25" fill="green" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
      <path
        d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z">
      </path>
      <path fill-rule="evenodd"
        d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z">
      </path>
    </svg>

    <span id="refresh-calendar-message" class="italic">{{scheduleFetchMessage}}</span>

  </div>
  @if (authenticatedUser?.role !== UserRoles.Interviewer) {
  <mat-tab-group (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Day">
      <div class="calendar-wrapper">
        <div class="legend-container">
          @if (tabIndex == 0) {
            <app-legend [userSchedules]="filteredUserSchedulesDay"></app-legend>
          }
        </div>
        <div>
        </div>
        <div style="margin-left: -120px;" [ngClass] ="authenticatedUser?.role == UserRoles.Interviewer ? 'wd70' : 'wd100'" class="calendar-control-container">
          <app-calendar-controls id="day-calendar-controls"
            [_selectedDate]="selectedDate"
            [_languageFieldInfo]="languageFieldInfo"
            [_languages]="languages"
            [_projects]="projects"
            [_userFilter]="userFilter"
            [_languageFilter]="languageFilter"
            [_projectFilter]="projectFilter"
            [_conditionalOperatorFilter]="conditionalOperatorFilter"
            [_trainedOnFilter]="trainedOnFilter"
            [_notTrainedOnFilter]="notTrainedOnFilter"
            [_calendarType]="'DAY'"
            [authenticatedUser]="authenticatedUser"
            (selectedDateChange)="getAllUserSchedulesByAnchorDate()"
            (filterChange)="applyFilters()"
            (resetDefaultFilters)="setDefaultFilters(true)">
          </app-calendar-controls>
        </div>
      </div>
      <app-day-view [userSchedules]="filteredUserSchedulesDay" [selectedDate]="selectedDate"></app-day-view>
    </mat-tab>
    <mat-tab label="Week">
      <div class="calendar-wrapper">
        <div class="legend-container">
          @if (tabIndex == 1) {
            <app-legend [weekSchedules]="weekSchedules"></app-legend>
          }
        </div>
        <div>
        </div>
        <div style="margin-left: -110px;" [ngClass] ="authenticatedUser?.role == UserRoles.Interviewer ? 'wd70' : 'wd100'" class="calendar-control-container">
          <app-calendar-controls id="week-calendar-controls"
            [_selectedDate]="selectedDate"
            [_languageFieldInfo]="languageFieldInfo"
            [_languages]="languages"
            [_projects]="projects"
            [_userFilter]="userFilter"
            [_languageFilter]="languageFilter"
            [_projectFilter]="projectFilter"
            [_conditionalOperatorFilter]="conditionalOperatorFilter"
            [_trainedOnFilter]="trainedOnFilter"
            [_notTrainedOnFilter]="notTrainedOnFilter"
            [selectedDateRange]="selectedDateRange"
            [_calendarType]="'WEEK'"
            [authenticatedUser]="authenticatedUser"
            (selectedDateChange)="getAllUserSchedulesByAnchorDate()"
            (filterChange)="applyFilters()"
            (resetDefaultFilters)="setDefaultFilters(true)">
          </app-calendar-controls>
        </div>
      </div>
      <app-week-view [weekSchedules]="weekSchedules"></app-week-view>
    </mat-tab>
    <mat-tab label="Month">
      <div class="calendar-wrapper">
        <div class="legend-container">
          @if (tabIndex == 2) {
            <app-legend [monthSchedules]="monthSchedules"></app-legend>
          }
        </div>
        <div style="margin-left: -90px;" [ngClass] ="authenticatedUser?.role == UserRoles.Interviewer ? 'wd70' : 'wd100'" class="calendar-control-container">
          <app-calendar-controls id="month-calendar-controls"
            [_selectedDate]="selectedDate"
            [_languageFieldInfo]="languageFieldInfo"
            [_languages]="languages"
            [_projects]="projects"
            [_userFilter]="userFilter"
            [_languageFilter]="languageFilter"
            [_projectFilter]="projectFilter"
            [_conditionalOperatorFilter]="conditionalOperatorFilter"
            [_trainedOnFilter]="trainedOnFilter"
            [_notTrainedOnFilter]="notTrainedOnFilter"
            [_calendarType]="'MONTH'"
            [authenticatedUser]="authenticatedUser"
            (selectedDateChange)="getAllUserSchedulesByAnchorDate()"
            (filterChange)="applyFilters()"
            (resetDefaultFilters)="setDefaultFilters(true)">
          </app-calendar-controls>
        </div>
      </div>
      <app-month-view [monthSchedules]="monthSchedules"></app-month-view>
    </mat-tab>
  </mat-tab-group>
  }

    @if (authenticatedUser?.role === UserRoles.Interviewer) {
  <mat-tab-group (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="Day">
      <div class="calendar-wrapper">
        <div class="legend-container">
          @if (tabIndex == 0) {
            <app-legend [userSchedules]="filteredUserSchedulesDay"></app-legend>
          }
        </div>
        <div>
        </div>
        <div style="margin-left: -120px;" [ngClass] ="authenticatedUser?.role == UserRoles.Interviewer ? 'wd70' : 'wd100'" class="calendar-control-container">
          <app-calendar-controls style="margin-left: 30px;" id="day-calendar-controls"
            [_selectedDate]="selectedDate"
            [_languageFieldInfo]="languageFieldInfo"
            [_languages]="languages"
            [_projects]="projects"
            [_userFilter]="userFilter"
            [_languageFilter]="languageFilter"
            [_projectFilter]="projectFilter"
            [_conditionalOperatorFilter]="conditionalOperatorFilter"
            [_trainedOnFilter]="trainedOnFilter"
            [_notTrainedOnFilter]="notTrainedOnFilter"
            [_calendarType]="'DAY'"
            [authenticatedUser]="authenticatedUser"
            (selectedDateChange)="getAllUserSchedulesByAnchorDate()"
            (filterChange)="applyFilters()"
            (resetDefaultFilters)="setDefaultFilters(true)">
          </app-calendar-controls>
        </div>
      </div>
      <app-day-view [userSchedules]="filteredUserSchedulesDay" [selectedDate]="selectedDate"></app-day-view>
    </mat-tab>
    <mat-tab label="Week">
      <div class="calendar-wrapper">
        <div class="legend-container">
          @if (tabIndex == 1) {
            <app-legend [weekSchedules]="weekSchedules"></app-legend>
          }
        </div>
        <div>
        </div>
        <div style="margin-left: -110px;" [ngClass] ="authenticatedUser?.role == UserRoles.Interviewer ? 'wd70' : 'wd100'" class="calendar-control-container">
          <app-calendar-controls style="margin-left: 20px;" id="week-calendar-controls"
            [_selectedDate]="selectedDate"
            [_languageFieldInfo]="languageFieldInfo"
            [_languages]="languages"
            [_projects]="projects"
            [_userFilter]="userFilter"
            [_languageFilter]="languageFilter"
            [_projectFilter]="projectFilter"
            [_conditionalOperatorFilter]="conditionalOperatorFilter"
            [_trainedOnFilter]="trainedOnFilter"
            [_notTrainedOnFilter]="notTrainedOnFilter"
            [selectedDateRange]="selectedDateRange"
            [_calendarType]="'WEEK'"
            [authenticatedUser]="authenticatedUser"
            (selectedDateChange)="getAllUserSchedulesByAnchorDate()"
            (filterChange)="applyFilters()"
            (resetDefaultFilters)="setDefaultFilters(true)">
          </app-calendar-controls>
        </div>
      </div>
      <app-week-view [weekSchedules]="weekSchedules"></app-week-view>
    </mat-tab>
    <mat-tab label="Month">
      <div class="calendar-wrapper">
        <div class="legend-container">
          @if (tabIndex == 2) {
            <app-legend [monthSchedules]="monthSchedules"></app-legend>
          }
        </div>
        <div style="margin-left: -90px;" [ngClass] ="authenticatedUser?.role == UserRoles.Interviewer ? 'wd70' : 'wd100'" class="calendar-control-container">
          <app-calendar-controls style="margin-left: 40px;" id="month-calendar-controls"
            [_selectedDate]="selectedDate"
            [_languageFieldInfo]="languageFieldInfo"
            [_languages]="languages"
            [_projects]="projects"
            [_userFilter]="userFilter"
            [_languageFilter]="languageFilter"
            [_projectFilter]="projectFilter"
            [_conditionalOperatorFilter]="conditionalOperatorFilter"
            [_trainedOnFilter]="trainedOnFilter"
            [_notTrainedOnFilter]="notTrainedOnFilter"
            [_calendarType]="'MONTH'"
            [authenticatedUser]="authenticatedUser"
            (selectedDateChange)="getAllUserSchedulesByAnchorDate()"
            (filterChange)="applyFilters()"
            (resetDefaultFilters)="setDefaultFilters(true)">
          </app-calendar-controls>
        </div>
      </div>
      <app-month-view [monthSchedules]="monthSchedules"></app-month-view>
    </mat-tab>
  </mat-tab-group>
  }
</div>


<style>
  ::ng-deep .mdc-tab__text-label {
  font-size: 12px !important;
}
</style>