<div id="header-inner">
  <div id="logged-in-as-section" class="flex">
    <div
      class="quick-reference-notification top-4 w-[440px] h-[79vh] right-2 quick-book-ref"
    >
      <!-- Header Section -->
      <div class="sticky-header">
        <div class="quick-refrence-top-header d-flex justify-between m-2">
          <div class="col-lg-10" style="display: flex">
            <!-- <mat-icon fontIcon="mail" class="custom-color1"></mat-icon> &nbsp; -->
            <div class="col-lg-2 mr-2">
              <svg
                width="34"
                height="34"
                viewBox="0 0 34 34"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <mask
                  id="mask0_326_3294"
                  style="mask-type: alpha"
                  maskUnits="userSpaceOnUse"
                  x="0"
                  y="0"
                  width="32"
                  height="32"
                >
                  <rect width="32" height="32" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_326_3294)">
                  <path
                    d="M9.00016 29.3333C8.00016 29.3333 7.13905 28.9944 6.41683 28.3167C5.69461 27.6389 5.3335 26.8 5.3335 25.8V7.19998C5.3335 6.35554 5.59461 5.59998 6.11683 4.93332C6.63905 4.26665 7.32238 3.84443 8.16683 3.66665L21.3335 1.06665V22.4L8.70016 24.9333C8.50016 24.9778 8.3335 25.0833 8.20016 25.25C8.06683 25.4167 8.00016 25.6 8.00016 25.8C8.00016 26.0444 8.10016 26.25 8.30016 26.4167C8.50016 26.5833 8.7335 26.6667 9.00016 26.6667H24.0002V5.33332H26.6668V29.3333H9.00016ZM9.3335 22.1L12.0002 21.5667V5.63332L9.3335 6.16665V22.1Z"
                    fill="#0680CD"
                  />
                </g>
              </svg>
            </div>
            <div class="col-lg-5 mt-1">
              <span class="quick-span quick-reference">Quick Reference</span>
            </div>
          </div>
          <div>
            <!-- <mat-icon
              fontIcon="open_in_new"
              class="custom-color1"
              style="cursor: pointer; color: #0680cd"
              (click)="moveToPage($event)"
            ></mat-icon> -->
            &nbsp;
          </div>
        </div>
        <div class="relative w-full max-w-md px-1">
          <input
            type="text"
            placeholder="Search"
            class="w-full pl-4 pr-10 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
            (click)="$event.stopPropagation()"
            [(ngModel)]="searchTerms"
          />
          <div class="absolute inset-y-0 right-0 flex items-center pr-3">
            <!-- Search icon -->

            <svg
              width="16"
              height="15"
              viewBox="0 0 16 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              (click)="$event.stopPropagation()"
              style="cursor: pointer"
            >
              <path
                d="M12.3374 10.7933L15.5 13.9552L14.4552 15L11.2933 11.8374C10.1168 12.7805 8.65349 13.2935 7.14566 13.2913C3.47726 13.2913 0.5 10.3141 0.5 6.64566C0.5 2.97726 3.47726 0 7.14566 0C10.8141 0 13.7913 2.97726 13.7913 6.64566C13.7935 8.15349 13.2805 9.61682 12.3374 10.7933ZM10.8562 10.2454C11.7933 9.28169 12.3166 7.98988 12.3145 6.64566C12.3145 3.7895 10.0011 1.47681 7.14566 1.47681C4.2895 1.47681 1.97681 3.7895 1.97681 6.64566C1.97681 9.50108 4.2895 11.8145 7.14566 11.8145C8.48988 11.8166 9.78169 11.2933 10.7454 10.3562L10.8562 10.2454Z"
                fill="#0680CD"
              />
            </svg>
          </div>
        </div>
      </div>

      <!-- Scrollable Content -->
      <mat-tab-group
        class="custom-tabs sticky-header-tabs"
        (click)="$event.stopPropagation()"
      >
      <mat-tab label="Voicemail Info">
        <div class="content sticky">
          <h4
            style="
              font-weight: 600;
              font-family: roboto;
              font-size: 16px;
            "
            [innerHTML]="
              firstHeadingVoiceMail | highlight : searchTerms
            "
          ></h4>
          <div class="contact-item-voice-mail">
            <div class="contact-item-row-voice-mail-new">
              <p
                class="stickeky-header"
                [innerHTML]="
                  voiceMailInstruction1 | highlight : searchTerms
                "
              ></p>
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                (click)="copyToClipboard(voiceMailInstructionCopy)"
                class="svg-align"
                matTooltip="copy"
                matTooltipPosition="above"
              >
                <path
                  d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                  stroke="#58595B"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                  stroke="#58595B"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="contact-item-voice-mail">
            <div class="contact-item-row-voice-mail-new">
              <p
                [innerHTML]="
                  voiceMailInstruction2 | highlight : searchTerms
                "
              ></p>
            </div>
          </div>
          <div class="contact-item-voice-mail">
            <div class="contact-item-row-voice-mail-new">
              <p
                [innerHTML]="
                  voiceMailInstruction3 | highlight : searchTerms
                "
              ></p>
            </div>
          </div>
        </div>
        <div class="scroll-container1">
          <div
            class="max-w-md mx-auto bg-white border border-gray-300 rounded-lg shadow-lg p-3 flex border-l-4 border-yellow-400"
          >
            <div class="space-y-4">
              

              <!-- dynamic -->
              <div class="voice-mail-box" *ngFor="let voicemail of voicemaillist" >
                <div class="yellow-bar" [ngStyle]="{ 'background-color': voicemail.projectColor }"></div>
                <div class="content">
                  <h2
                    [innerHTML]="voicemail.projectName | highlight : searchTerms"
                  ></h2>
                  <div class="contact-item">
                    <p
                      class="contact-item-color"
                      [innerHTML]="
                        voiceMailTollFree1 | highlight : searchTerms
                      "
                    ></p>
                    <div class="contact-item-row-voice-mail">
                      <p
                        class="stickeky-header"
                        
                        [innerHTML]="(voicemail?.voiceMailNumber || '') | highlight : searchTerms"
                      ></p>
                      <svg
                       *ngIf = "voicemail?.voiceMailNumber"
                        width="14"
                        height="14"
                        viewBox="0 0 14 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        (click)="copyToClipboard(voicemail?.voiceMailNumber)"
                        class="svg-align"
                        matTooltip="copy"
                        matTooltipPosition="above"
                      >
                        <path
                          d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                          stroke="#58595B"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                          stroke="#58595B"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                  <div class="contact-item-new">
                    <p
                      class="contact-item-color"
                      [innerHTML]="voiceMailPin1 | highlight : searchTerms"
                    ></p>
                    <div class="contact-item-row-voice-mail-pin">
                      <p
                        
                        [innerHTML]="(voicemail?.voiceMailPin || '') | highlight : searchTerms"
                      ></p>
                      <svg
                      *ngIf = "voicemail?.voiceMailPin"
                        width="14"
                        height="14"
                        viewBox="0 0 14 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        (click)="copyToClipboard(voicemail?.voiceMailPin)"
                        class="svg-align"
                        matTooltip="copy"
                        matTooltipPosition="above"
                      >
                        <path
                          d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                          stroke="#58595B"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                          stroke="#58595B"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
        <mat-tab label="Project Info">
          <div class="scroll-container">
            <div
              class="max-w-md mx-auto bg-white border border-gray-300 rounded-lg shadow-lg p-3 flex border-l-4 border-yellow-400"
            >
              <div class="space-y-4">
                <div class="hero-box">
                  <div class="yellow-bar"></div>
                  <div class="content">
                    <h2
                      [innerHTML]="firstHeading | highlight : searchTerms"
                    ></h2>
                    <div class="contact-item">
                      <p
                        class="contact-item-color"
                        [innerHTML]="tollFree1 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row">
                        <p
                          class="stickeky-header"
                          [innerHTML]="tollFreeNum1 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(tollFreeNum1)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="contact-item-new">
                      <p
                        class="contact-item-color"
                        [innerHTML]="email1 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row">
                        <p
                          [innerHTML]="emailAddress1 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(emailAddress1)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div
                      class="description"
                      [innerHTML]="description1 | highlight : searchTerms"
                    ></div>
                  </div>
                </div>
                <div class="hero-box">
                  <div class="purple-bar"></div>
                  <div class="content">
                    <h2
                      [innerHTML]="secondHeading | highlight : searchTerms"
                    ></h2>
                    <div class="contact-item">
                      <p
                        class="contact-item-color"
                        [innerHTML]="tollFree2 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row">
                        <p
                          class="stickeky-header"
                          [innerHTML]="tollFreeNum2 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(tollFreeNum2)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="contact-item-new">
                      <p
                        class="contact-item-color"
                        [innerHTML]="email2 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row" style="margin-right: 38px">
                        <p
                          [innerHTML]="emailAddress2 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(emailAddress2)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div
                      class="description"
                      [innerHTML]="description2 | highlight : searchTerms"
                    ></div>
                  </div>
                </div>

                <div class="hero-box">
                  <div class="light-blue-bar"></div>
                  <div class="content">
                    <h2
                      [innerHTML]="thirdHeading | highlight : searchTerms"
                    ></h2>
                    <div class="contact-item">
                      <p
                        class="contact-item-color"
                        [innerHTML]="tollFree2 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row">
                        <p
                          class="stickeky-header"
                          [innerHTML]="tollFreeNum2 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(tollFreeNum2)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="contact-item-new">
                      <p
                        class="contact-item-color"
                        [innerHTML]="email2 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row" style="margin-right: 38px">
                        <p
                          [innerHTML]="emailAddress2 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(emailAddress2)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div
                      class="description"
                      [innerHTML]="description3 | highlight : searchTerms"
                    ></div>
                  </div>
                </div>

                <div class="hero-box">
                  <div class="light-pink-bar"></div>
                  <div class="content">
                    <h2
                      [innerHTML]="fourtHeading | highlight : searchTerms"
                    ></h2>
                    <div class="contact-item">
                      <p
                        class="contact-item-color"
                        [innerHTML]="tollFree2 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row">
                        <p
                          class="stickeky-header"
                          [innerHTML]="tollFreeNum2 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(tollFreeNum2)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="contact-item-new">
                      <p
                        class="contact-item-color"
                        [innerHTML]="email2 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row" style="margin-right: 38px">
                        <p
                          [innerHTML]="emailAddress2 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(emailAddress2)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div
                      class="description"
                      [innerHTML]="description4 | highlight : searchTerms"
                    ></div>
                  </div>
                </div>

                <div class="hero-box">
                  <div class="purple-dark-bar"></div>
                  <div class="content">
                    <h2
                      [innerHTML]="fifthHeading | highlight : searchTerms"
                    ></h2>
                    <div class="contact-item">
                      <p
                        class="contact-item-color"
                        [innerHTML]="tollFree2 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row">
                        <p
                          class="stickeky-header"
                          [innerHTML]="tollFreeNum2 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(tollFreeNum2)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="contact-item-new">
                      <p
                        class="contact-item-color"
                        [innerHTML]="email2 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row" style="margin-right: 38px">
                        <p
                          [innerHTML]="emailAddress2 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(emailAddress2)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div
                      class="description"
                      [innerHTML]="description5 | highlight : searchTerms"
                    ></div>
                  </div>
                </div>
                <div class="hero-box">
                  <div class="green-dark-bar"></div>
                  <div class="content">
                    <h2
                      [innerHTML]="sixthHeading | highlight : searchTerms"
                    ></h2>
                    <div class="contact-item">
                      <p
                        class="contact-item-color"
                        [innerHTML]="tollFree2 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row">
                        <p
                          class="stickeky-header"
                          [innerHTML]="tollFreeNum2 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(tollFreeNum2)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="contact-item-new">
                      <p
                        class="contact-item-color"
                        [innerHTML]="email2 | highlight : searchTerms"
                      ></p>
                      <div class="contact-item-row" style="margin-right: 38px">
                        <p
                          [innerHTML]="emailAddress2 | highlight : searchTerms"
                        ></p>
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          (click)="copyToClipboard(emailAddress2)"
                          class="svg-align"
                          matTooltip="copy"
                          matTooltipPosition="above"
                        >
                          <path
                            d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                            stroke="#58595B"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                    <div
                      class="description"
                      [innerHTML]="description6 | highlight : searchTerms"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Team Contacts">
          <div class="sticky-team-contacts">
            <span
            class="font-containt"
            [innerHTML]="filterContactsValue | highlight : searchTerms"
          ></span>
          <div>
            <mat-checkbox
              color="primary"
              [(ngModel)]="selectAll"
              (change)="toggleSelectAll()"
            >
              <span
                [innerHTML]="selectAllValue | highlight : searchTerms"
              ></span>
            </mat-checkbox>
            <mat-checkbox
              color="primary"
              [(ngModel)]="filterAdmin"
              (change)="filterContacts()"
              ><span [innerHTML]="admin | highlight : searchTerms"></span>
            </mat-checkbox>
            <mat-checkbox
              color="primary"
              [(ngModel)]="filterProjectTeam"
              (change)="filterContacts()"
            >
              <span
                [innerHTML]="projectTeamValue | highlight : searchTerms"
              ></span>
            </mat-checkbox>
            <mat-checkbox
              color="primary"
              [(ngModel)]="filterInterviewer"
              (change)="filterContacts()"
            >
              <span
                [innerHTML]="interviewerValue | highlight : searchTerms"
              ></span>
            </mat-checkbox>
            <mat-checkbox
              color="primary"
              [(ngModel)]="filterEscalationContact"
              (change)="filterContacts()"
            >
              <span
                [innerHTML]="escalationContactValue | highlight : searchTerms"
              ></span>
            </mat-checkbox>
          </div>
          </div>
          <div class="quick-reference-new scroll-container">
           
           
           
            <div *ngFor="let contact of filteredContacts" class="mt-3">
              <div>
                <span
                  class="font-containt"
                  [innerHTML]="contact.name | highlight : searchTerms"
                ></span>
              </div>
              <div class="text-containt">
                <div class="detail">
                  <span
                    class="label"
                    style="padding-left: 67px"
                    [innerHTML]="roleValue | highlight : searchTerms"
                  ></span>
                  <span
                    class="value"
                    [innerHTML]="contact.role | highlight : searchTerms"
                  ></span>
                </div>
                <div class="detail">
                  <span
                    class="label"
                    style="padding-left: 10px"
                    [innerHTML]="email1 | highlight : searchTerms"
                  ></span>
                  <div class="value-container">
                    <span
                      class="value"
                      [innerHTML]="contact.email | highlight : searchTerms"
                    ></span>
                    <svg
                      width="14"
                      height="14"
                      viewBox="0 0 14 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      (click)="copyToClipboard(contact.email)"
                      matTooltip="copy"
                      matTooltipPosition="above"
                      style="cursor: pointer; margin-left: 5px"
                    >
                      <path
                        d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                        stroke="#58595B"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                        stroke="#58595B"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <div class="detail" *ngIf="contact.escalation">
                  <span
                    class="label"
                    style="padding-left: 27px"
                    [innerHTML]="escalationValue | highlight : searchTerms"
                    >Escalation #</span
                  >
                  <div class="value-container">
                    <span
                      class="value"
                      [innerHTML]="contact.escalation | highlight : searchTerms"
                    ></span>
                    <svg
                      width="14"
                      height="14"
                      viewBox="0 0 14 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      (click)="copyToClipboard(contact.escalation)"
                      matTooltip="copy"
                      matTooltipPosition="above"
                      style="cursor: pointer; margin-left: 5px"
                    >
                      <path
                        d="M3.66675 5.44463C3.66675 4.97307 3.85407 4.52083 4.18751 4.18739C4.52095 3.85395 4.97319 3.66663 5.44475 3.66663H11.2221C11.4556 3.66663 11.6868 3.71262 11.9025 3.80197C12.1182 3.89132 12.3142 4.02229 12.4793 4.18739C12.6444 4.35249 12.7754 4.5485 12.8647 4.76421C12.9541 4.97993 13.0001 5.21114 13.0001 5.44463V11.222C13.0001 11.4554 12.9541 11.6867 12.8647 11.9024C12.7754 12.1181 12.6444 12.3141 12.4793 12.4792C12.3142 12.6443 12.1182 12.7753 11.9025 12.8646C11.6868 12.954 11.4556 13 11.2221 13H5.44475C5.21126 13 4.98005 12.954 4.76434 12.8646C4.54862 12.7753 4.35261 12.6443 4.18751 12.4792C4.02241 12.3141 3.89144 12.1181 3.80209 11.9024C3.71274 11.6867 3.66675 11.4554 3.66675 11.222V5.44463Z"
                        stroke="#58595B"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M1.67467 10.158C1.47 10.0417 1.29977 9.87332 1.18127 9.66993C1.06277 9.46653 1.00023 9.23539 1 9V2.33333C1 1.6 1.6 1 2.33333 1H9C9.5 1 9.772 1.25667 10 1.66667"
                        stroke="#58595B"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<style>
  body {
    font-family: Roboto, sans-serif;
    margin: 20px;
  }

  .quick-reference-notification {
    background: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    height: 98vh;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
  }

  .scroll-container {
    max-height: calc(100vh - 200px);

    /* overflow-y: auto; */
    /* padding: 16px; */
  }
  .scroll-container1 {
    max-height: calc(88vh - 200px);
    /* max-height: 50vh; */
    /* overflow-y: auto; */
    /* padding: 16px; */
  }

  ::ng-deep .mdc-tab__text-label {
    font-size: 12px !important;
  }

  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 8px;
  }

  .sticky-header-tabs {
  }

  /* .sticky-header-tabs ::ng-deep .mat-mdc-tab-label-container {
    padding-left: 60px;
  } */

  .hero-box {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
    width: 100%;
  }

  .hero-box .yellow-bar {
    background-color: #f6c867;
    width: 8px;
    height: auto;
  }

  .hero-box .purple-bar {
    background-color: #7373e8;
    width: 8px;
    height: auto;
  }

  .hero-box .purple-dark-bar {
    background-color: #9400d3;
    width: 8px;
    height: 226px;
  }

  .hero-box .green-dark-bar {
    background-color: #00a542;
    width: 8px;
    height: 226px;
  }

  .hero-box .light-blue-bar {
    background-color: #87cefa;
    width: 8px;
    height: 226px;
  }

  .hero-box .light-pink-bar {
    background-color: #ff9083;
    width: 8px;
    height: 226px;
  }

  .hero-box .content {
    padding: 10px 16px;
    width: 100%;
  }

  .content h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #000;
  }

  .contact-item-row {
    display: flex;
    align-items: center;
  }

  .svg-align {
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 10px;
  }

  .contact-item {
    display: flex;
    /* justify-content: space-between; */
    font-size: 14px;
    line-height: 1.4;
    /* margin-right: 78px; */
  }

  .contact-item-new {
    display: flex;
    /* justify-content: space-between; */
    font-size: 14px;
    line-height: 1.4;
    /* margin-left: 20px; */
    /* margin-right: 18px; */
  }

  .contact-item-color {
    color: #6c757d;
  }

  .contact-item span {
    font-weight: normal;
    color: #58595b;
  }

  .description {
    font-size: 14px;
    line-height: 1.4;
  }

  .mat-menu-panel {
    position: fixed !important;
  }

  /* voice mail */

  .voice-mail-box {
    display: flex;
    border-bottom: 1px solid #58595b;
    width: 400px;
    height: 110px;
  }

  .voice-mail-box .yellow-bar {
    background-color: #f6c867;
    width: 8px;
    height: 104px;
  }

  .voice-mail-box .purple-bar {
    background-color: #7373e8;
    width: 8px;
    height: 104px;
  }

  .voice-mail-box .purple-dark-bar {
    background-color: #9400d3;
    width: 8px;
    height: 104px;
  }

  .voice-mail-box .green-dark-bar {
    background-color: #00a542;
    width: 8px;
    height: 104px;
  }

  .voice-mail-box .light-blue-bar {
    background-color: #87cefa;
    width: 8px;
    height: 104px;
  }

  .voice-mail-box .light-pink-bar {
    background-color: #ff9083;
    width: 8px;
    height: 104px;
  }

  .voice-mail-box .content {
    padding: 10px 16px;
    width: 100%;
  }

  .contact-item-row-voice-mail {
    display: flex;
    align-items: center;
    /* margin-right: 45px; */
    margin-left: 10px;
  }

  .contact-item-row-voice-mail-pin {
    display: flex;
    align-items: center;
    /* margin-right: 163px; */
    margin-left: 28px;
  }

  .contact-item-row-voice-mail-new {
    display: flex;
    align-items: center;
    /* margin-right: 45px; */
  }


  .contact-item-voice-mail {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1;
  }

  .custom-tabs .mat-tab-label {
    margin-right: 20px;
  }

  .custom-tabs .mat-tab-label:last-child {
    margin-right: 0;
  }
  ::ng-deep #pro-app .mat-mdc-tab.mdc-tab {
    max-width: unset !important;
  }

  /* team contacts */
  .quick-reference-new {
    margin-bottom: 10px;
    padding: 16px;
  }

  .font-containt {
    color: #262626;
    width: 600px;
    font-weight: 600;
    font-size: 13px;
    font-family: roboto;
    line-height: 15.23px;
  }
  .text-containt {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 10px;
    border-bottom: 3px solid #e0e0e0;
  }

  .detail {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 0;
  }

  .value-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .label {
    color: #6c757d;
  }

  .value {
    color: #262626;
    padding-left: 20px;
  }
  .mat-checkbox .mat-checkbox-label {
    font-size: 12px !important;
  }
  ::ng-deep .mdc-checkbox__background {
    width: 13px !important;
    height: 13px !important;
  }
  ::ng-deep .mat-mdc-checkbox {
    --mdc-form-field-label-text-size: 12px !important;
  }
  ::ng-deep .mdc-form-field > label {
    padding-left: 0px !important;
    margin-bottom: 4px !important;
    margin-left: -8px !important;
  }

  ::ng-deep .mdc-checkbox__ripple {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    position: unset !important;
    border-radius: unset !important;
    pointer-events: unset !important;
  }
  .sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
    padding-left: 20px;
  }
  .sticky-team-contacts {
    position: sticky;
    top: 0px !important;
    /* z-index: 1000; */
    background: #fff;
    padding-left: 20px;
  }
  .quick-reference{
    color: #6c757d;
  }
</style>
