<mat-form-field appearance="fill" class="month-picker-form-field">
  <mat-label>Select a Month</mat-label>
  <input matInput [matDatepicker]="datePicker"
         [formControl]="selectedDate"
         (dateChange)="emitSelectedDate()"
         autocomplete="off" />
  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
  <mat-datepicker #datePicker
                  startView="year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, datePicker)"
                  (daySelected)="chosenDayHandler($event, datePicker)"></mat-datepicker>
</mat-form-field>
