<div id="trained-on-section-outer-container">
  <div id="trained-on-section-outer">
    <div id="trained-on-section">
      <div id="trained-on-inner">
        <div id="trained-on-list">
          <h3 class="bold">Trained On</h3>
          <div id="trained-on-list-inner">
            <ul>
              <li (click)="setUserToRemove(to)"
                  *ngFor="let to of trainedOnUsers"
                  [class.selected]="to.selected">{{to.displayName}}</li>
              <li class="italic"
                  *ngIf="trainedOnUsers && (trainedOnUsers || []).length < 1">
                No active users trained on this project
              </li>
            </ul>
          </div>
        </div>

        <div id="trained-on-buttons"
             *ngIf="!listingOnly">
          <div id="trained-on-buttons-inner">
            <svg width="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="#2D6BA4" xmlns="http://www.w3.org/2000/svg"
                 (click)="addTrainedOn()"
                 [class.not-allowed]="buttonAllowed(true)">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"></path>
            </svg>

            <svg width="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle-fill" fill="red" xmlns="http://www.w3.org/2000/svg"
                 (click)="removeTrainedOn()"
                 [class.not-allowed]="buttonAllowed(false)">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"></path>
            </svg>
          </div>
        </div>

        <div id="not-trained-on-list"
             *ngIf="!listingOnly">
          <h3 class="bold">Available</h3>
          <div id="not-trained-on-list-inner">
            <ul>
              <li (click)="setUserToAdd(nto)"
                  *ngFor="let nto of notTrainedOnUsers"
                  [class.selected]="nto.selected">{{nto.displayName}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
