header {
  margin: 0px;
  padding: 5px;
  width: 100%;
  color: white;
  background-color: #0078d4;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

#logged-in-as-section {
  float: right;
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

#logged-in-as {
  /*display: inline-flex;*/
  margin-right: 10px;
  font-size: 0.9em;
  margin-top: 5px;
}

#logout-button {
  display: inline-flex;
  cursor: pointer;
  text-align: center;
  font-size: 0.7em;
  margin-bottom: 12px;
}

#logout-button a {
  color: white;
}

.pro-ep-role {
    font-size: 0.8em;
    text-align: right;
}

#wordmark-logo {
  height: 60px;
}

#header-inner {
  background-color: white;
  color: #164b8b;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.circle {
  background-color: #0680CD;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flex {
  display: flex;
  gap: 20px;
  margin-right: 20px;
  padding-left: 300px;
}


.quick-book-ref{
  width: Hug(436px);
  height: Fixed(850px) ;
  border-radius: 15px 15px 15px;
  border: 2px;
  gap: 15px;
}

.bg-yellow-500{
  background-color: #f59e0b !important;
}

body {
  font-family: Roboto, sans-serif;
  margin: 20px;
}

.quick-reference-notification {
  right: 0;
  top: 0;
  background: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow: hidden; 
  width: 500px;
  margin-left: 162px;
}

.scroll-container {
  max-height: calc(100vh - 200px); 
  overflow-y: auto;
  /* padding: 16px; */
}

::ng-deep .mdc-tab__text-label {
  font-size: 12px !important;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 8px;
}

.sticky-header-tabs{

}

.sticky-header-tabs ::ng-deep .mat-mdc-tab-label-container {
padding-left: 60px;
}

.hero-box {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
  width: 100%;
}

.hero-box .yellow-bar {
  background-color: #f6c867;
  width: 8px;
  height: auto;
}

.hero-box .purple-bar {
  background-color: #7373e8;
  width: 8px;
  height: auto;
}

.hero-box .purple-dark-bar {
  background-color: #9400D3;
  ;
  width: 8px;
  height: 226px;
}

.hero-box .green-dark-bar {
  background-color:#00A542;
  ;
  width: 8px;
  height: 226px;
}

.hero-box .light-blue-bar {
  background-color: #87cefa;
  width: 8px;
  height: 226px;
}


.hero-box .light-pink-bar {
  background-color: #ff9083;
  width: 8px;
  height: 226px;
}

.hero-box .content {
  padding: 10px 16px;
  width: 100%;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #000;
}

.contact-item-row {
display: flex;
align-items: center;

}

.svg-align{
cursor: pointer; margin-left: 8px; margin-bottom: 10px;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.4;
  margin-right: 78px;
}

.contact-item-new {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.4;
  margin-left: 20px;
  margin-right: 18px;
}

.contact-item-color {
  color: #6c757d;
}

.contact-item span {
  font-weight: normal;
  color: #58595b;
}

.description {
  font-size: 14px;
  line-height: 1.4;
}

.mat-menu-panel {
  position: fixed !important; 
}