<h2 mat-dialog-title>Add New Announcement</h2>
<mat-dialog-content>
  <form>
    <div class="form-container">
      <mat-form-field
        appearance="outline"
        class="icon-width custom-form-field title-width mt-2"
      >
        <input matInput readonly [value]="selectedEmoji" />
        <button
          style="margin-left: -50px"
          mat-icon-button
          matSuffix
          (click)="toggleEmojiPicker($event)"
        >
          <mat-icon style="margin-left: -5px" *ngIf="!selectedEmoji"
            >mood
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="custom-form-field title-width mt-2"
      >
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title*" required />
      </mat-form-field>
    </div>
    <div class="editor-container">
      <div id="editor"></div>
    </div>

    <div class="author-container">
      <div class="author-width">
        <mat-form-field
          appearance="outline"
          class="drop-down"
          class="custom-form-field title-width mt-2"
        >
          <mat-label>Author</mat-label>
          <mat-select [(value)]="selectedAuthor">
            <mat-option *ngFor="let author of authorList" [value]="author">
              {{ author }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-checkbox class="display-author-checkbox" [disableRipple]="true"
        >Display Author</mat-checkbox
      >
    </div>

    <div class="date-container">
      <mat-form-field
        appearance="outline"
        class="date-width custom-form-field title-width mt-2"
      >
        <mat-label>Start</mat-label>
        <input
          matInput
          [matDatepicker]="startPicker"
          placeholder="Choose a start date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="date-width custom-form-field title-width mt-2"
      >
        <mat-label>Expiration</mat-label>
        <input
          matInput
          [matDatepicker]="expirationPicker"
          placeholder="Choose an expiration date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="expirationPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #expirationPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field
        appearance="outline"
        class="drop-down custom-form-field title-width mt-4"
      >
        <mat-label>Display Announcement to</mat-label>
        <mat-select [(value)]="selectedAnnouncement">
          <mat-option
            *ngFor="let announcement of announcementList"
            [value]="announcement"
          >
            {{ announcement }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <button mat-stroked-button class="full-width-button">Preview</button>
      </div>
      <div class="col-lg-6">
        <button
          mat-flat-button
          color="primary"
          (click)="saveAnnouncement()"
          class="full-width-button"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
