.full-width {
  width: 100%;
  margin-top: 20px;
}

mat-dialog-content {
  height: 100%;
  overflow-y: auto;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.author-width {
  flex: 1;
}

.display-author-checkbox {
  margin-top: 5px;
}
.date-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.date-width {
  flex: 1;
}
.drop-down {
  width: 100%;
  margin-top: 20px;
}
.form-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 5px;
}

.title-width {
  width: 90%;
}

.icon-width {
  width: 10%;
}

.add-announcement-dialog {
  width: 100%;
}

.editor-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  min-height: 200px;
  border-radius: 5px;
}
.ql-container.ql-snow {
  border-top: 0;
  height: 300px;
}
mat-form-field .mat-input-element.ng-touched.ng-invalid {
  color: red;  /* Text color when field is invalid */
}

/* Optional: You can also customize the border color for invalid fields */
mat-form-field .mat-form-field-underline.ng-touched.ng-invalid {
  border-bottom: 2px solid red; /* Red border when invalid */
}

/* To remove the red background or any default styles */
mat-form-field .mat-input-element {
  background-color: transparent !important; /* Ensures no background color change */
}