<div class="announcements-header">
  <h3>Announcements</h3>
  <a routerLink="/announcement-management" class="manage-link"
    >Manage Announcements</a
  >
</div>
<div class="announcements-panel">
  <ng-container
    *ngIf="announcementsList && announcementsList.length > 0; else noData"
  >
    <div *ngFor="let announcement of announcementsList" class="announcement">
      <h4>{{ announcement.icon }}{{ announcement.title }}</h4>
      <p>{{ announcement.bodyText }}</p>
      <div class="meta">
        <div>
          <small
            >Posted {{ announcement.startDate | date : "MM/dd/yyyy" }} by
            {{ announcement.authorName }}</small
          >
        </div>
        <div class="tags">
          <span
            *ngFor="let project of announcement.projectObject"
            class="tag"
            [ngStyle]="{ '--tag-color': project.projectColor }"
          >
            {{ project.projectName }}
          </span>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noData>
    <div class="no-data">
      <p>No announcements to display.</p>
    </div>
  </ng-template>
</div>
