.container {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  margin-top: -14px;
}

.configuration{
  color: gray;font-size: 12px;
  margin-top: -31px
}

.announcement-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  overflow-x: auto;
  display: block;
  width: 100% !important;
  display: table;
  border: 1px solid #ddd;
}
.announcement-table th,
.announcement-table td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  border: 1px solid #ddd;
}


.mat-header-row,
.mat-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  min-width: 120px; 
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.mat-paginator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.mat-column-start {
  border-right: 1px solid #ddd;
}
.mat-column-expiration {
  border-right: 1px solid #ddd;
}
.mat-column-title {
  border-right: 1px solid #ddd;
}
.mat-column-author {
  border-right: 1px solid #ddd;
}
.mat-column-displayTo {
  border-right: 1px solid #ddd;
}
.mat-column-action {
  border-right: 1px solid #ddd;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted):after {
  content: "↑↓";
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  display: inline-block;
  visibility: visible;
}

::ng-deep .mat-sort-header-container.mat-sort-header-sorted:after {
  content: "↑↓";
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  display: inline-block;
  visibility: visible;
  color: #0680cd;
}

::ng-deep .mat-sort-header-arrow {
  visibility: hidden !important;
  transition: none !important;
}

::ng-deep .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  top: unset !important;
  left: unset !important;
  right: unset  !important;
  border-radius: unset !important;
}