<div class="container">
  <h1>Manage Announcements</h1>

  <button
    mat-raised-button
    style="background-color: #0680cd; color: white"
    (click)="openAddAnnouncementDialog()"
  >
    + Add New Announcement
  </button>

  <table
    mat-table
    [dataSource]="announcements"
    matSort
    class="announcement-table"
  >
    <ng-container matColumnDef="start">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="background-color: #b5b5b5"
      >
        Start
      </th>
      <td mat-cell *matCellDef="let data">{{ data.start }}</td>
    </ng-container>

    <ng-container matColumnDef="expiration">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="background-color: #b5b5b5"
      >
        Expiration
      </th>
      <td mat-cell *matCellDef="let data">{{ data.expiration }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="background-color: #b5b5b5"
      >
        Title
      </th>
      <td mat-cell *matCellDef="let data">{{ data.title }}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="background-color: #b5b5b5"
      >
        Author
      </th>
      <td mat-cell *matCellDef="let data">{{ data.author }}</td>
    </ng-container>

    <ng-container matColumnDef="displayTo">
      <th mat-header-cell *matHeaderCellDef style="background-color: #b5b5b5">
        Display Announcements To
      </th>
      <td mat-cell *matCellDef="let data">{{ data.displayTo }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="background-color: #b5b5b5">
        Actions
      </th>
      <td mat-cell *matCellDef="let data">
        <button mat-icon-button (click)="viewAnnouncement(data)">
          <mat-icon style="color: #0680cd">visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="editAnnouncement(data)">
          <mat-icon style="color: #0680cd">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteAnnouncement(data)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
