.full-width {
  width: 100%;
}

mat-dialog-content {
  max-height: max(830px, calc(100vh - 150px));
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
}

::ng-deep .mat-mdc-dialog-surface {
  width: 490px !important;
}

.date-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.date-width {
  flex: 1;
}
.drop-down {
  width: 100%;
  margin-top: 20px;
}
.form-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.title-width {
  width: 90%;
}

.icon-width {
  width: 10%;
}

.add-announcement-dialog {
  width: 100%;
}

.ql-container.ql-snow {
  border-top: 0;
  height: 170px;
}

.button-width {
  height: 23px;
  font-size: 11px;
  border-radius: 5px;
}

::ng-deep .emoji-picker__wrapper {
  z-index: 2000 !important;
}
.mat-mdc-checkbox-checked {
  --mdc-checkbox-selected-focus-icon-color: #0680cd;
  --mdc-checkbox-selected-hover-icon-color: #0680cd;
  --mdc-checkbox-selected-pressed-icon-color: #0680cd;
  --mdc-checkbox-selected-icon-color: #0680cd;
}

.mat-mdc-checkbox {
  --mdc-checkbox-unselected-hover-icon-color: #0680cd;
  --mdc-checkbox-unselected-focus-icon-color: #0680cd;
  --mdc-checkbox-unselected-pressed-icon-color: #0680cd;
  --mdc-checkbox-unselected-icon-color: #0680cd;
}

.mat-mdc-checkbox-checked .mdc-checkbox__checkmark {
  color: #0680cd !important;
}

.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: #0680cd !important;
  border-color: #0680cd !important;
}

.mat-mdc-checkbox .mdc-checkbox__background {
  border-color: #0680cd !important;
}
.mat-icon {
  height: 40px !important;
  width: 40px !important;
}

::ng-deep .mdc-checkbox__ripple {
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
  position: unset !important;
  border-radius: unset !important;
  pointer-events: unset !important;
}
::ng-deep .mat-mdc-dialog-surface {
  border: 3px solid #0680cd !important;
  border-radius: 10px;
}
::ng-deep .custom-form-field .mat-mdc-text-field-wrapper {
  height: 35px !important;
  display: flex;
  align-items: center;
}

::ng-deep .custom-form-field .mat-mdc-input-element {
  padding: 0 8px !important;
  height: 100%;
  font-size: 14px !important;
  line-height: normal !important;
  text-align: left;
  box-sizing: border-box;
}

::ng-deep .custom-form-field .mdc-floating-label {
  top: 50% !important;
  transform: translateY(-50%) scale(1) !important;
  font-size: 14px !important;
  transition: transform 0.2s ease, top 0.2s ease !important;
}

::ng-deep .custom-form-field .mdc-floating-label--float-above {
  top: -8px !important;
  transform: translateY(0) scale(0.75) !important;
  font-size: 12px !important;
  transition: transform 0.2s ease, top 0.2s ease !important;
}

::ng-deep .custom-form-field .mat-mdc-form-field-outline {
  top: 0 !important;
  border-color: #0680cd !important;
}

::ng-deep .custom-form-field .mat-mdc-form-field-outline-gap {
  height: 32px !important;
}

::ng-deep .custom-form-field .mat-mdc-form-field {
  position: relative;
  font-size: 14px;
}

::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mdc-text-field__input {
  display: inline-block;
  margin-left: -10px;
}

/* ::ng-deep .mat-mdc-form-field-wrapper.mdc-text-field {
    border-color: #0680cd !important; 
    background-color: #eaf4fd !important; 
  }
  
  ::ng-deep .mat-mdc-form-field-wrapper.mdc-text-field--focused .mdc-text-field-input {
    color: #0680cd !important;
  } */
::ng-deep .custom-form-field.mdc-text-field {
  &.mdc-text-field--outlined {
    &.mdc-text-field--focused {
      outline: auto; /* Optional to visually indicate focus */
    }
  }
}
/* .custom-form-field.mdc-text-field--focused {
    outline: 2px solid var(--mat-primary-color, #0680cd);
  } */

::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mat-mdc-notch-piece {
  border-color: #0680cd !important;
}
::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-outline-width: 2px !important;
}
.editor-container {
  position: relative;
  border: 2px solid #0680cd;
  border-radius: 8px;
  background-color: #fff;
  margin: 10px 0;
  overflow-y: auto;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  background-color: transparent !important;
  border: unset !important;
}

#editor {
  min-height: 270px;
  overflow-y: auto;
}

.character-counter {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

.ql-undo::before {
  content: "\21B6";
}

.ql-redo::before {
  content: "\21B7";
}

.ql-toolbar .ql-undo,
.ql-toolbar .ql-redo {
  border: none;
  background: none;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

.word-counter {
  font-size: 14px;
  color: #555;
  margin-top: 1px;
  margin-left: 5px;
}

.author-container {
  display: flex;
  align-items: center;
}
mat-checkbox {
  flex-shrink: 0;
}
.close-icon {
  position: absolute;
  top: 21px;
  right: 8px;
  color: red;
  cursor: pointer;
}

.my-button {
  background-color: gray;
  color: white;
  border: none;
}

.my-button:enabled {
  background-color: #0680cd;
  cursor: pointer;
}

.my-button:enabled:hover {
  background-color: #056bb3;
}
.custom-button {
  border: 2px solid #0680cd;
  color: #0680cd;
  transition: all 0.3s ease;
}

.custom-button:disabled {
  border-color: grey;
  color: grey;
  cursor: not-allowed;
}

.tag {
  font-size: 10px;
  padding: 0px 5px;
  border-radius: 12px;
  background-color: white;
  color: #333;
  border: 1px solid #B5B5B5;
  display: inline-flex;
  align-items: center;
  margin: 2px;
  height: 18px;
}

.tag::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background-color: var(--tag-color);
}
::ng-deep .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-full.mat-pseudo-checkbox-indeterminate {
  background-color: #0680cd !important;
}
.mat-pseudo-checkbox-full {
  border-color: #0680cd 2px solid !important;
}
