<div class="dialog-overlay">
  <div class="dialog-box">
    <h2>Announcement Preview</h2>
    <mat-icon
      fontIcon="close"
      class="text-danger close-icon"
      style="cursor: pointer"
      (click)="closeDialog()"
    ></mat-icon>

    <p style="font-weight: bold">
      {{ previewobj.icon }}{{ previewobj.title }}
    </p>
    <p>{{ previewobj.bodyText }}</p>
    <div class="meta">
      <div>
        <small>Posted {{ previewobj.start | date : "MM/dd/yyyy" }} </small>
        <small *ngIf="previewobj.isAuthor"> {{ previewobj.authorName }}</small>
      </div>
      <div *ngIf="isString(previewobj.displayTo)">
        <span>{{ previewobj.displayTo }}</span>
      </div>

      <div *ngIf="isArray(previewobj.displayTo)">
        <div class="tags-container">
          <div *ngFor="let project of previewobj.displayTo">
            <span
              class="tag"
              [ngStyle]="{ '--tag-color': project.projectColor }"
            >
              {{ project.projectName }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-actions">
      <button mat-flat-button class="w-100" (click)="closePreview()">
        Close Preview
      </button>
    </div>
  </div>
</div>
