
#user-tabs {
  box-shadow: none;
  /*min-height: 500px;*/
  width: 100%;
}

.mat-form-field {
  width: 150px;
  margin: 5px;
}

#user-profile-header {
  margin: 15px;
  margin-bottom: 10px;
  color: #0078d4;
  display: flex;
}

#user-profile-header .btn {
  font-size: 0.8em;
  margin: 5px;
}

#user-pic-name {
  display: inline-flex;
  float: left;
  width: 100%;
}

.clickable {
    cursor: pointer;
}

#user-profile-picture {
  width: 75px;
}

#user-profile-picture-default {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  border-radius: 10px;
}

#user-profile-picture-crop {
  max-width: 75px;
  max-height: 75px;
  overflow: hidden;
  border: 0.5px solid gray;
}

#user-profile-header-name {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
}

#id-user-profile-dcri-name {
  font-size: 0.8em;
}

.user-field {
  display: inline-block;
  margin-right: 35px;
  /*margin-left: 50px;*/
  width: 250px;
}

.long-text-field {
  width: 535px;
  height: 100px;
  margin-bottom: 50px;
}

.user-fields-container {
  margin-bottom: 15px;
  margin-left: 40px;
  /*width: 90%;*/
  width: 870px;
}

#user-profile-buttons-outer {
  /*width: 100%;*/
}

#user-profile-buttons {
    float: right;
    display: inline-flex;
}

#user-calendar {
  width: 90%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 35px;
  border-top: 1px solid #0078d4;
}

#core-hours-table {
  margin-right: 65px;
  margin-top: 15px;
  margin-bottom: 50px;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  width: 100%;
}

#core-hours-table td {
  text-align: center;
  padding: 5px;
  border: 0.5px solid grey;
}

#core-hours-header {
  background-color: #89cff0;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

#core-hours-header td {
  border: 0.5px solid #3f51b5;
}

#user-requests-no-results {
  width: 100%;
  margin-bottom: 25px;
}

#user-requests-table {
  width: 100%;
  margin-right: 25px;
  margin-bottom: 25px;
}

#user-requests-table td,
#user-requests-table th {
  padding: 10px;
  border: 0.5px solid rgb(0,0,0,0.15);
  width: 250px;
}

#user-requests-table th {
  font-weight: 500;
  color: #1b6ec2;
  font-size: 1.1em;
}

#start-date-note {
    font-size: 0.85em;
    font-style: italic;
    font-weight: 500;
    color: red;
    margin-top: 15px;
}

#scheduling-level-info {
  cursor: help;
  vertical-align: baseline;
}

app-form-field {
  display: inline-block;
}
