<header>
    <div id="header-inner">
        <img id="wordmark-logo" src="/assets/DCRI_PRO_wordmark.jpg" />
    </div>
</header>
<div id="login-content">
    <div id="login-content-left">
        <div id="login-content-left-top"></div>
        <div id="login-content-left-middle">
            <img id="logo" src="/assets/logo.svg" alt="logo">
        </div>
    </div>
    <div id="login-content-right">
        <div id="login-content-right-top">
            <span id="welcome-text">WELCOME TO</span>
        </div>
        <div id="login-content-right-middle">
            <span id="pcontent">Participant Research Operations</span>
        </div>
        <div id="login-content-right-bottom">
            <span id="login-text">The Participant Research Operations web-based application provides the PRO business group with the technology to support management processes of participant information, employee training, tracking, scheduling, and communication.</span>
            <button id="login-btn" (click)="login()">Login</button>
        </div>
    </div>
</div>