.error-message {
  display: flex;
  align-items: center;
  color: #dc4a38;
  font-size: 14px;
}

.error-icon {
  color: #dc4a38;
  margin-right: 8px;
  font-size: 25px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust height as needed */
}

