<h2
  style="
    color: #0680cd;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
  "
>
  Add Shift Schedule
</h2>
<div style="margin-left: 15px; margin-right: 15px">
  <form [formGroup]="announcementForm">
    <div class="form-container">
      <div class="d-flex">
        <div>
          <mat-form-field
            appearance="outline"
            class="custom-form-field title-width"
            style="width: 165px;"
          >
            <mat-label>User</mat-label>
            <mat-select [(value)]="selectedUser">
              <mat-option *ngFor="let user of userList" [value]="user">
                {{ user.userName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="ml-3">
          <mat-form-field
            appearance="outline"
            class="custom-form-field title-width"
            style="width: 165px"
          >
            <mat-label>Project</mat-label>
            <mat-select [(value)]="selectedProjects" multiple>
              <div class="custom-checkbox-container">
                <label class="custom-checkbox">
                  <input
                    type="checkbox"
                    [checked]="isAllSelected()"
                    [indeterminate]="isIndeterminate()"
                    (change)="onCheckboxChange($event)"
                  />
                  <span class="checkmark"></span>
                  Any Projects
                </label>
              </div>
              <mat-select-trigger>
                <span *ngIf="isAllSelected()">Any Projects</span>
                <span *ngFor="let selected of selectedProjects">
                  <span *ngIf="!isAllSelected()">
                    <span
                      class="tag"
                      [ngStyle]="{ '--tag-color': selected.projectColor }"
                    >
                      {{ selected.projectName }}
                    </span>
                  </span>
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let project of projectList" [value]="project">
                {{ project.projectName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <span class="ml-2 mr-2">Monday</span>
        <div>
          <mat-form-field
            appearance="outline"
            class="date-width custom-form-field title-width"
            style="width: 160px"
          >
            <mat-label>Monday</mat-label>
            <input
              matInput
              [matDatepicker]="dayWisePicker"
              placeholder="Choose an date"
              formControlName="dayWiseDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="dayWisePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dayWisePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="ml-2 mr-2">
          <mat-form-field
            appearance="outline"
            class="time-width custom-form-field title-width"
            style="width: 120px"
          >
            <mat-label>Start Time</mat-label>
            <input
              matInput
              [ngxTimepicker]="startPicker"
              placeholder="Choose start time"
              formControlName="startTime"
              readonly
            />
            <ngx-material-timepicker #startPicker></ngx-material-timepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field
            appearance="outline"
            class="time-width custom-form-field title-width"
            style="width: 120px"
          >
            <mat-label>End Time</mat-label>
            <input
              matInput
              [ngxTimepicker]="endPicker"
              placeholder="Choose end time"
              formControlName="endTime"
              readonly
            />
            <ngx-material-timepicker #endPicker></ngx-material-timepicker>
          </mat-form-field>
        </div>
        <span class="ml-1 mr-1">0 hr.</span>
        <div>
          <mat-form-field
            appearance="outline"
            class="custom-form-field"
            style="width: 160px"
          >
            <mat-label>Comments</mat-label>
            <input matInput placeholder="comments" formControlName="comments" />
          </mat-form-field>
        </div>
        <div class="ml-1 mr-1">
          <button mat-raised-button color="primary" disabled>
            <mat-icon>add</mat-icon> Add to Calender
          </button>
        </div>
      </div>
    </div>
    <app-shift-calendar></app-shift-calendar>
  </form>
</div>
