<div
  class="d-flex align-items-center justify-content-between"
  style="padding: 10px 15px"
>
  <h2 style="color: #0680cd; margin: 0">Add Shift Schedule</h2>

  <div class="d-flex" style="margin-left: auto">
    <button style="height: 25px" mat-raised-button color="primary" class="submit wd90">
      Save Calendar
    </button>
    <button style="height: 25px" class="btn-outline ml-2">Exit</button>
  </div>
</div>

<div style="margin-left: 15px; margin-right: 15px">
  <form [formGroup]="announcementForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="d-flex">
        <!-- User Dropdown -->
        <mat-form-field
          appearance="outline"
          class="custom-form-field"
          style="width: 165px"
        >
          <mat-label>User</mat-label>
          <mat-select formControlName="user">
            <mat-option *ngFor="let user of userList" [value]="user">{{
              user.userName
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Project Multi-select -->
        <mat-form-field
          appearance="outline"
          class="custom-form-field ml-2"
          style="width: 165px"
        >
          <mat-label>Project</mat-label>
          <mat-select formControlName="projects">
            <mat-option *ngFor="let project of projectList" [value]="project">{{
              project.projectName
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Current Day Display -->
        <span class="ml-2">{{ currentDay }}</span>

        <!-- Day Wise Date Picker -->
        <mat-form-field
          appearance="outline"
          class="custom-form-field ml-2"
          style="width: 160px"
        >
          <mat-label>{{ currentDay }}</mat-label>
          <input
            matInput
            [matDatepicker]="dayWisePicker"
            formControlName="dayWiseDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dayWisePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #dayWisePicker></mat-datepicker>
        </mat-form-field>

        <!-- Start Time Picker -->
        <mat-form-field
          appearance="outline"
          class="custom-form-field ml-2"
          style="width: 120px"
        >
          <mat-label>Start Time</mat-label>
          <input
            matInput
            [ngxTimepicker]="startPicker"
            formControlName="startTime"
            readonly
          />
          <ngx-material-timepicker #startPicker></ngx-material-timepicker>
        </mat-form-field>

        <!-- End Time Picker -->
        <mat-form-field
          appearance="outline"
          class="custom-form-field ml-2"
          style="width: 120px"
        >
          <mat-label>End Time</mat-label>
          <input
            matInput
            [ngxTimepicker]="endPicker"
            formControlName="endTime"
            readonly
          />
          <ngx-material-timepicker #endPicker></ngx-material-timepicker>
        </mat-form-field>

        <!-- Dynamic Duration Display -->
        <span class="ml-2">{{ duration }}</span>

        <!-- Comments (Optional) -->
        <mat-form-field
          appearance="outline"
          class="custom-form-field ml-2"
          style="width: 150px"
        >
          <mat-label>Comments</mat-label>
          <input matInput formControlName="comments" />
        </mat-form-field>

        <!-- Add to Calendar Button -->
        <div class="ml-1 mr-1">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!scheduleFetchStatus"
          >
            <mat-icon>add</mat-icon> Add to Calendar
          </button>
        </div>
      </div>
    </div>

    <!-- Shift Calendar Component -->
    <app-shift-calendar></app-shift-calendar>
  </form>
</div>
