@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --mdc-outlined-text-field-label-text-color: #0680CD;
    --mdc-outlined-text-field-caret-color: #0680CD;
    --mdc-outlined-text-field-focus-outline-color: #0680CD;
    --mdc-outlined-text-field-focus-label-text-color: #0680CD;
    --mdc-filled-text-field-label-text-color: #0680CD;
    --mdc-filled-text-field-hover-label-text-color: #0680CD;
    --mdc-filled-text-field-disabled-label-text-color: #0680CD;
    --mdc-filled-text-field-container-color: #fff;
    --mat-sort-arrow-color: #0680CD;
    --mdc-outlined-text-field-error-label-text-color: #DC4A38;
    --mdc-outlined-text-field-label-text-size: 14px;
    --mdc-checkbox-selected-focus-icon-color: #0680CD;
    --mdc-checkbox-selected-hover-icon-color: #0680CD;
    --mdc-checkbox-selected-icon-color: #0680CD;
    --mdc-checkbox-selected-pressed-icon-color: #0680CD;
    --mdc-checkbox-unselected-icon-color: #0680CD;
    --mdc-checkbox-unselected-focus-icon-color: #0680CD;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #0680CD;
    --mat-tab-header-active-label-text-color: #0680CD;
    --mat-tab-header-inactive-label-text-color: #0680CD;
    --mat-tab-header-active-focus-label-text-color: #0680CD;
    --mat-tab-header-active-hover-label-text-color: #0680CD;
    --mat-tab-header-active-focus-indicator-color: #0680CD;
    --mat-tab-header-active-hover-indicator-color: #0680CD;
    --mdc-filled-text-field-container-color: white;
    --mdc-protected-button-label-text-color: #0680CD;
    /* Set the active indicator color to red */
}

.btn-primary {
    --bs-btn-bg: #0680CD;
}

#pro-app .mat-mdc-tab.mdc-tab {
    max-width: 100px !important;
}

#pro-app .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

#pro-app .invalid,
#pro-ep-app .invalid .mat-select-value-text {
    color: #f44336;
}


#pro-app .invalid-emphasis {
    color: #f44336;
    font-size: 1.2em;
}

#pro-app .invalid-button {
    background-color: #f44336;
    border: 1px solid #f44336;
    font-style: italic;
}

.mdc-floating-label {
    font-weight: 500;
    color: #0078d4;
}

#pro-app .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 2px;
    padding-bottom: 0px;
}

.mat-mdc-tab-list {
    margin-bottom: 10px;
}

.mdc-tab--active {
    background-color: rgb(0 86 155 / .2) !important;
    border-radius: 5px 5px 0px 0px !important;
}

#pro-app .bold {
    font-weight: 500;
}

#pro-app .italic {
    font-style: italic;
}

.mat-mdc-tab-header {
    margin: 5px 5px 0px 5px;
}

#hover-message {
    position: fixed;
    padding: 25px;
    background-color: white;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    z-index: 1000;
}

#hover-message .hover-message-title {
    font-weight: 500;
    font-size: 1.1em;
}

#schedule-modal {
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 60px 30px;
    min-width: 1085px;
    box-shadow: 0 0px 25px rgb(57 63 72);
    position: fixed;
    top: 25%;
    left: 20%;
    z-index: 1000;
}

#day-calendar {
    background-color: #f2f2f2 !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    border-right: none !important;
}

.mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

.mat-mdc-raised-button .mdc-button__label {
    font-size: 11px !important;
    font-weight: 500;
    line-height: 20px;
}

.black.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    color: #58595B;
}

.round .mat-mdc-form-field-infix {
    display: flex;
    align-items: center;
    gap: 3px;
}

.round-orange .mat-mdc-form-field-infix::before {
    content: '';
    background: #FF9900;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


.round-red .mat-mdc-form-field-infix::before {
    content: '';
    background: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.black {
    font-size: 13px !important;
}

/* Ensure the wrapper inside adapts to the height */
.ctm .mat-mdc-text-field-wrapper {
    height: 100% !important;
    /* Inherit the parent height */
    display: flex !important;
    /* Flex layout for alignment */
    align-items: center !important;
    padding: 0px !important;
    /* Center-align content */
}

/* Adjust the input height */
.ctm .mat-mdc-form-field .mat-mdc-input-element {
    height: 100% !important;
    /* Match input to container height */
    line-height: normal !important;
    /* Reset line height */
    padding: 0 8px !important;
    /* Adjust padding if necessary */
    box-sizing: border-box !important;
    /* Ensure proper padding calculation */
}

/* Adjust the outline to fit the new height */
.ctm .mdc-notched-outline {
    height: 100% !important;
    /* Match the container height */
    display: flex !important;
    align-items: center !important;
    /* Center notch content */
}

/* Fix floating label alignment */
.ctm .mdc-floating-label {
    transform: translateY(-20px) !important;
    /* Adjust label position */
}

.ctm .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    --mat-mdc-form-field-label-transform: translateY(calc(calc(6.75px + var(--mat-form-field-container-height) / 2)* -1)) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
    transform: var(--mat-mdc-form-field-label-transform) !important;
}

.ctm .mat-mdc-form-field-infix {
    padding: 14px 10px 10px 13px !important;
    min-height: 35px !important;
    display: flex !important;
    align-items: center !important;
}

.ctm-select .mat-mdc-text-field-wrapper {
    height: 100% !important;
    /* Inherit the parent height */
    display: flex !important;
    /* Flex layout for alignment */
    align-items: center !important;
    padding: 0px !important;
    /* Center-align content */
}

/* Adjust the wrapper to inherit the height */
.ctm-select .mat-mdc-form-field-infix {
    padding: 11px 10px 10px 13px !important;
    min-height: 35px !important;
    display: flex !important;
    align-items: center !important;
}

.ctm-select .mdc-floating-label--float-above {
    display: none !important;
}

.ctm-select .mdc-floating-label {
    transform: translateY(-15px) !important;
    /* Adjust label position */
}

.ctm-select .mat-mdc-select-arrow {
    height: 35px !important;
}

.ctm-select .mat-mdc-select-arrow svg {
    top: 65% !important;
}


.add-user-tab .mat-mdc-tab-header {
    padding: 0px 16px 8px 16px;
    margin: 0px !important;
}

.add-user-tab .mat-mdc-tab.mdc-tab {
    padding: 5px 15px 5px 15px;

}

.add-user-tab .mdc-tab__text-label {
    font-family: Roboto;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #262626 !important;

}

.add-user-tab .mdc-tab--active .mdc-tab__text-label {
    color: #1874CA !important;
    font-weight: 600 !important;

}

.add-user-tab .mat-mdc-tab-ripple {
    background-color: #fff !important;
}

.add-user-tab .mdc-tab-indicator {
    background-color: #fff !important;
}

#pro-app .add-user-tab .mat-mdc-tab-labels div:nth-child(1) {
    max-width: 100px !important;

}

#pro-app .add-user-tab .mat-mdc-tab-labels div:nth-child(2) {
    max-width: 115px !important;

}

#pro-app .add-user-tab .mat-mdc-tab-labels div:nth-child(3) {
    max-width: 168px !important;

}

.add-user-tab .mat-mdc-tab-list {
    margin: 0px;
}

.mdc-floating-label--required {
    color: #DC4A38 !important;
}

.app-user .mdc-checkbox .mdc-checkbox__background {
    left: 0px !important;
}

.app-user .mdc-checkbox {
    padding-left: 0px;
}

.app-user .mdc-label {
    color: #00569B;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}
