.legend-card {
  width: 100%;
}

.mat-mdc-card-header {
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  color: #262626;
}

.mat-mdc-card-content {
  max-height: 50vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.legend-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legend-title {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #262626;
}


.view-all button {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.875rem;
  text-transform: none;
  color: #DC2A2A;
  background-color: #fff;
}

.view-all button:hover {
  background-color: #fff;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-top: 8px;

  .color-box {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }

  p {
    margin: 0;
    color: #424242;
    font-size: 14px;
  }
}

.no-legend-msg {
  margin-top: 0.4rem;
  font-size: 14px;
}

.mat-subheading-1 {
  font-size: 14px;
}

.legend-title-adjust {
  width: auto;
}

.grid-container {
  display: grid;
  overflow-y: auto;
  grid-template-columns: 1fr;
}

.current-schedule-lengend {
  max-height: 120px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.notes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 16px 8px 12px;
}

.notes-heading {
  font-size: 14px;
  font-weight: 700;
  color: #262626;
}

.notes-desc {
  font-size: 12px;
  font-weight: 400;
  color: #262626;
  max-width: 2549px;
}
.search-container {
  display: flex;
  gap: 16px;
  padding: 8px 12px 4px 12px;
  align-items: center;
  height: 36px;
}

.reset-container {
  display: flex;
  gap: 16px;
  padding: 0px 12px 8px 12px;
  align-items: center;
  height: 49px;
}

.reset-heading {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #393939;
}

.mat-mdc-raised-button .mdc-button__label {
  font-size: 11px !important;
  font-weight: 500;
  line-height: 20px;
}

.mat-mdc-form-field {
  width: 250px !important;
}

.select {
  background-color: white;
  border-top: 0.5px solid lightskyblue;
  border-left: 0.5px solid lightskyblue;
  border-right: 0.5px solid lightskyblue;
  border-radius: 4px 4px 0 0;
}

.result-container {
  padding: 12px;
}

th {
  padding-right: 0px !important;
  border: 1px solid #B5B5B5;
  background: rgba(229, 229, 229, 0.5) !important;
}

td {
  border: 1px solid #EAEAEA;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.view-icon {
  color: rgba(60, 187, 0, 1);

}

.pointer {
  cursor: pointer;
}

.table-ht {
  overflow: auto;
  display: block; /* Ensures scrollable behavior */
  border-top: 1px solid #B5B5B5;
  border-bottom: 1px solid #B5B5B5;
}

.ht371 {
  max-height: 371px;
}

.ht585 {
  max-height: 585px;
}

.no-results {
  min-height: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap-32 {
  gap: 32px !important;
}

.mdc-data-table__row:last-child .mat-mdc-cell {
  border-bottom: 1px solid #EAEAEA !important;
}

.preview-container {
  display: flex;
  gap: 10px;
  padding: 12px;
  flex-direction: column;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
}
#reset-button {
  height: 24px;
  width: 46px;
}
#preview-btn{
  height: 24px;
}

#preview-btn, #reset-button {
  color: #fff !important;
  border: 2px solid #0680CD;
  box-shadow: none;
  padding: 4px 20px;
  background-color: #0680CD !important;
}

.gap-16 {
  gap: 16px;
}

.seprator {
  padding: 0px 20px;
}

.mat-mdc-header-row, .mat-mdc-header-cell {
  position: sticky;
  top: -2px;
  z-index: 2;
  border-top: none !important;
  border-bottom: none !important;
}

.mat-mdc-cell, .mat-mdc-header-cell {
  border: 1px solid #B5B5B5;
}


.mat-mdc-row .mat-mdc-cell {
  border-left: 1px solid #B5B5B5; /* Bottom border for the last row */
}

/* Set the height of the form field */
.mat-mdc-form-field.ctm {
  height: 35px; /* Desired height */
  display: flex; /* Align content properly */
  align-items: center; /* Center inner content vertically */
 
}

.mat-mdc-form-field.ctm-select {
 border-top: 1px solid #B5B5B5;
  border-left: 1px solid #B5B5B5;
  border-right: 1px solid #B5B5B5;
  border-radius: 4px !important;
  height: 35px;
}
.results-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
}

.mat-mdc-header-row {
  height: 29px !important;
}

th {
  padding: 8px 5px !important;
}

.mat-mdc-row {
  height: 28px;
}

td {
  padding: 8px 10px !important;
}

.pdt8 {
  padding-top: 8px !important;
}

.container {
  padding: 8px 0px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 0px;
}

.view-all {
  display: flex;
  align-items: center;
  gap: 16px;
}
.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #0680CD; /* Icon background color */
  position: relative;
  color: white; /* Text color */
  font-size: 14px;
  font-weight: 500;
}
.P::after {
  content: 'P';
  position: absolute;
  left: 7px;
  top: 2px;
}

.C::after {
  content: 'C';
  position: absolute;
  left: 6px;
  top: 2px;
}

.M::after {
  content: 'M';
  position: absolute;
  left: 5px;
  top: 2px;
}

.flex {
  display: flex;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.bold {
  font-weight: 500;
}
